<?php
session_start();
?>
	<script language="php">
		$token = $_SESSION['token'];
	</script>

   <script type="text/javascript">
		var token = '<?=$token?>';
		console.log(token);
		if(token != null && token.length > 1){
			location.href = "/view/main.html";
		}
   </script>

<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="location" content="/" charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<base href="/">
		<title>삼성소프트웨어멤버십</title>
	

		<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
		<link href="bootstrap-3.0.0-dist/dist/css/bootstrap.css" rel="stylesheet">
		<script src="bootstrap-3.0.0-dist/dist/js/bootstrap.min.js"></script>
		
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular-resource.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular-route.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular-animate.js"></script>


		<script src="bootstrap-3.0.0-dist/dist/js/bootstrap-datepicker.js"></script>	
		<link href="bootstrap-3.0.0-dist/dist/css/datepicker.css" rel="stylesheet">

		<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular-sanitize.min.js'></script>
		<script src='http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.1.2/textAngular.min.js'></script>

		<link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css'>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet prefetch" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">

		<!-- Animation CSS -->
		<link href="css/animate/animate.css" rel="stylesheet">
		<link href="css/animate/fadeAnimation.css" rel="stylesheet">


		<script src="http://fgnass.github.com/spin.js/spin.js"></script>
		<script src="common/animationScript.js"></script>


		<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.6.0.js" type="text/javascript"></script>
		<script src="http://m-e-conroy.github.io/angular-dialog-service/javascripts/dialogs.min.js" type="text/javascript"></script>

		<link href="css/mainbox.css" rel="stylesheet">
		<link href="css/login-jumbotron-narrow.css" rel="stylesheet">
		<link href="css/signin.css" rel="stylesheet">
		<link href="css/color-font.css" rel="stylesheet">
		<link href="css/div-layer.css" rel="stylesheet">
		<link href="css/mycontainer.css" rel="stylesheet">
		<link href="css/simple-chart.css" rel="stylesheet">
		<link href="css/view/menu-nav-bar.css" rel="stylesheet">
		<link href="css/view/sign-in-box.css" rel="stylesheet">
		<link href="css/view/sign-up-form.css" rel="stylesheet">
		<link href="css/logobox.css" rel="stylesheet">
		<link href="css/index.css" rel="stylesheet">
		<script src="common/formValidation.js"></script>
		<script src="common/xssFilter.js"></script>
		<script src="common/initializeUI.js"></script>
		<script src="common/menuControl.js"></script>
		<!-- <script src="module/index.js"></script> -->
		<script src="module/login.js"></script>
		<script src="module/signup.js"></script>
		
		<link href="http://fonts.googleapis.com/earlyaccess/hanna.css" rel="stylesheet">
		<link href="css/font/hanna.css">

		<link href="css/navbar-narrow.css" rel="stylesheet">
		<link href="css/view/sign-in-box.css" rel="stylesheet">
	</head>
	<body style="background:#F9F9F9; padding: 0; margin:0;">

		
		<div id="loginNavBar">
			<div class="container">
				<!--
				<h1 id="whiteh2" >SAMSUNG SOFTWARE MEMBERSHIP</h1>
			-->
			</div>
		</div>
		
		<!-- 사실 계층적 구조를 버리고, 이미지를 투명하게 하고 텍스트 div를 선명하게 하는 방법이 있는데 고민중임. -->
		<div class="container" id="signInContainer" >
				<div id="vivid-layer">
					<div id="logobox"></div>
					<ul style="padding-left:0px;">
						<form id="slick-login">
							<input type="text" name="username" id="id-login" placeholder="Gmail address" autofocus>
							<input type="password" name="password" id="pw-login" placeholder="Membership password">
							<!-- type을 submit으로 할 경우 action이 지정이 안되어잇기 때문에 자동으로 자신에게 리다이렉션된다. -->
							<button class="" type="button" onclick = "login()">Log in</button>
						<!-- <p><button class="btn btn-lg btn-primary btn-block" type="button" ng-click="loginGoogle()">Sign in with Google</button></p> -->
						</form>
					</ul>
				</div>
		</div>

	</body>
</html>

