.secsmCalendar{
	border: 2px solid black;
	width: 100%;
	/*margin: auto;*/
}

.calendarHeader{
	/*width: 115px;*/
	width: 14.2%;
	height: 20px;
	text-align: center;
	border: lightblue solid 1px;
}

.calendarHeader.sunday{
	background:rgb(253, 231, 231);
}

.calendarHeader.weekdays{
	background:ghostwhite;
}

.calendarHeader.saturday{
	background:rgb(220, 235, 249);
}


.calendarBody{
	border: lightblue solid 1px;
	padding-left: 5px;
	padding-top: 5px;
	text-align: left;
}

.calendarBody.sunday{
	background: rgb(253, 231, 231);
	color: red;
}

.calendarBody.weekdays{
	background:ghostwhite;
}

.calendarBody.saturday{
	background:rgb(220, 235, 249); color:rgb(14, 8, 252);
}
