

.educationEditBtn
{
	/*style="background-color: ghostwhite; width:150px;" */
	background-color: #39f;
	width: 150px;
}

.educationDeleteBtn
{
	/*style="background-color: ghostwhite; width:150px;" */
	background-color: #39f;
	width: 150px;
}
