

#menuNavBar{
	margin: 0;

	-webkit-box-shadow: outset 0px 20px 0px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: outset 0px 20px 0px 0px rgba(0, 0, 0, 0.1);
	box-shadow: outset 0px 20px 0px 0px rgba(0, 0, 0, 0.1);
}

#mainSpan{
	display: inline-block;
	width: 125px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 3px;
	padding-right: 3px;
}

#mainMark{
	 /*font-size: 23px;
	 font-weight: bold;*/
	width: 90px; 
	height: 50px; 
	background-size: 100% 100%;
	background-repeat: no-repeat; 
	background-image: url(../../res/transparent_logo.png);
}

#livingSpan{
	display: inline-block;
	width: 125px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 3px;
	padding-right: 3px;
}

#livingDropdown{
	text-align: center;
	font-size: 23px;
	font-weight: 600;
}

#materialSpan{
	display: inline-block;
	width: 125px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 3px;
	padding-right: 3px;
}

#materialDropdown{
	text-align: center;
	font-size: 23px;
	font-weight: 600;
}

#educationSpan{
	display: inline-block;
	width: 125px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 3px;
	padding-right: 3px;
}

#educationDropdown{
	text-align: center;
	font-size: 23px;
	font-weight: 600;
}

#eventSpan{
	display: inline-block;
	width: 125px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 3px;
	padding-right: 3px;
}

#eventDropdown{
	text-align: center;
	font-size: 23px;
	font-weight: 600;
}

#networkSpan{
	display: inline-block;
	width: 125px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 3px;
	padding-right: 3px;
}

#networkDropdown{
	text-align: center;
	font-size: 23px;
	font-weight: 600;
}

#pxSpan{
	display: inline-block;
	width: 125px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 3px;
	padding-right: 3px;
}

#pxDropdown{
	text-align: center;
	font-size: 23px;
	font-weight: 600;
}

#communitySpan{
	display: inline-block;
	width: 125px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 3px;
	padding-right: 3px;
}

#communityDropdown{
	text-align: center;
	font-size: 23px;
	font-weight: 600;
}

