


@media (min-width: 992px) {
	.affix.responsive{
		position: fixed;
	}
}

@media (min-width: 1200px) {
	.affix.responsive{
		position: fixed;
	}
}
/*@media (min-width: 800px) {
	.affix.responsive{
		position: fixed;
	}
}*/

@media (max-width: 991px){
	.affix.responsive{
		position: initial;
	}
}
