
#signInContainer{

	padding-left: 0px;
	padding-right: 0px;
}

#signInBackBox{
	padding-top: 10%;
	padding-bottom: 10%;
	background: #F9F9F9;
	/*background-image: url('../../res/developers.jpg');*/
}

#loginNavbar{
	background-color: rgb(108, 122, 155); 

	width: 100%;
    height: 50px;

    position: absolute;

	-webkit-box-shadow: inset 0px -10px 0px 0px rgb(75, 81, 116);
	-moz-box-shadow: inset 0px -10px 0px 0px rgb(75, 81, 116);
	box-shadow: inset 0px -10px 0px 0px rgb(75, 81, 116);
}

#logonCheckBox{
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: right;
	margin: auto;
	visibility: hidden;

	background-color: rgba(0,0,0,0.05);
}

#logonContainer{
	padding-right: 80px;
	width: 1100px;
}

#logoutBtn{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

