<?php
session_start();
?>
<script language="php">
	if(!isset($_SESSION['token'])){
	echo "<script>alert('허가되지 않은 접근입니다.')</script>
";
echo "
<meta http-equiv='refresh' content='0;url=/'>
";
session_destroy();
exit;
}else if(isset($_SESSION['token']) && ($_SESSION['timeout'] + 10 * 60 < time()))
{
echo "
<script>
alert('장시간 응답이 없어 자동으로 로그아웃되었습니다.')
</script>
";
echo "
<meta http-equiv='refresh' content='0;url=/'>
";
session_destroy();
exit;
}
$token = $_SESSION['token'];
$id = $_SESSION['uid'];
$realid = $_SESSION['realid'];
$username = $_SESSION['username'];
$accountgrant = $_SESSION['accountgrant'];

$_SESSION['timeout'] = time();
</script>

<script type="text/javascript">
	var token = '<?=$token?>';
	var id = '<?=$id?>';
	var realid = '<?=$realid?>';
	var username = '<?=$username?>'; 
	var accountgrant = '<?=$accountgrant?>';
	
</script>

	<link href="../../css/commonPage.css" rel="stylesheet">
	<link href="../../css/bookRent.css" rel="stylesheet">
	
	<div class="subContainer">
		<div class="contentMainTitle">
			<span class="mainTitle"><b>도서 대여</b></span>
		</div>
		<div class="panel panel-default inputBarcode">
			<div class="panel-heading">
				<span class="panel-title tableTitle"><b>바코드 입력</b></span>
			</div>
			<div class="panel-body inputBarcodeContent">
				<input type="text" class="form-control barcodeInput">
				<button type="button" class="btn btn-sm btn-default barcodeButton"><span>입 력</span></button>
			</div>
		</div>

		<!-- 도서 검색 및 리스트 -->
		<div class="contentMainTitle">
			<span class="mainTitle"><b>도서 검색</b></span>
		</div>
		<div id="search">
			<button type="button" class="btn btn-sm btn-info searchButton"><span class="glyphicon glyphicon-search searchButtonSpan"></span>검색</button>
			<input type="text" class="form-control searchInput">
		</div>
		<div id="bookListContent" ng-controller="bookRentCtrl">
			<table st-table="books" class="table table-striped">
				<thead>
					<tr>
						<th>도서 번호</th>
						<th>도서명</th>
						<th>저자</th>
						<th>출판사</th>
						<th>상태</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="book in books">
						<td>{{book.bookid}}</td>
						<td>{{book.bookname}}</td>
						<td>{{book.bookauthor}}</td>
						<td>{{book.bookpublish}}</td>
						<td>{{book.bookstatus}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
<!--
	<link href="../css/mainbox.css" rel="stylesheet">
	<link href="../css/workbox.css" rel="stylesheet">
	<link href="../css/main-noticebox.css" rel="stylesheet">
	<link href="../css/transparent-breadcrumb.css" rel="stylesheet">
-->
<!--
	
	도서 대여 페이지 뷰어
	
-->
	<!--
	<div class="mainbox" ng-controller="bookRentCtrl">
		<div class="container">
			<div class="workbox">
				
				<ol class="breadcrumb">
					<li ><a href="#book">도서</a></li>
				</ol>
			</div>
		</div>
		
		<div class="container" style="width: 1170px;">
				<form class="navbar-search pull-right">
					<span class="glyphicon glyphicon-search"></span>
					<input type="text" class="search-query" placeholder="Search" ng-model="searchKeyword">
					<button class="btn" style="background-color: ghostwhite;">Search</button>
				</form>
		</div>
	
		<div class="container" style="width:1170px;">

			<table class="table table-striped" style="width: 1170px;">
				<thead class="header">
					<th>도서 번호</th>
					<th>도서명</th>
					<th>저자</th>
					<th>출판사</th>
					<th>상태</th>
				</thead>
				<tbody ng-repeat="book in books | filter:searchKeyword | pagination: curPage * pageSize | limitTo: pageSize" >
					<tr>
						<td>{{book.bookid}}</td>
						<td>{{book.bookname}}</td>
						<td>{{book.bookauthor}}</td>
						<td>{{book.bookpublish}}</td>
						<td>{{book.bookstatus}}</td>
					</tr>
				</tbody>
			</table>
		
		</div>
	</div>
-->



