
.fadeAnimation.ng-enter{
	animation: fadeIn 1s;
	-webkit-animation: fadeIn 1s;
	transition: 3s linear all;
	opacity: 1;
}

.fadeAnimation.ng-leave{
	animation: fadeOut 1s;
	-webkit-animation: fadeOut 1s;
	opacity: 0;
}

.fadeAnimation.ng-enter.ng-enter-active {
  opacity: 1;
}

.fadeAnimation.ng-leave.ng-leave-active {
  opacity: 0;
}



.fadeInstanceAnimation.ng-enter{
	animation: fadeIn 1s;
	-webkit-animation: fadeIn 1s;
	transition: 3s linear all;
	opacity: 1;
}

.fadeInstanceAnimation.ng-leave{
	animation: fadeOut 0s;
	-webkit-animation: fadeOut 0s;
	opacity: 0;
}

.fadeInstanceAnimation.ng-enter.ng-enter-active {
  opacity: 1;
}

.fadeInstanceAnimation.ng-leave.ng-leave-active {
  opacity: 0;
}

