#barcodeTable {

}

.inputBarcode {
	margin: 20px 0px 40px 0px;
}

/* UI Components */
.barcodeInput {
	width: 90%;
	
	display: inline-block;
}

.barcodeButton {
	width: 8%;
	height: 34px;

	float: right;

	display: inline-block;
}

.searchInput {
	width: 200px;
	display: inline-block;
	margin-right: 7px;
	float: right;
}

.searchButton {
	width: 70px;
	height: 34px;
	float: right;
	display: inline-block;
}

.searchButtonSpan {
	margin-right: 10px;
	top: 3px;
}