
#whiteh2{
	font-size:30px;
	color:white;
	opacity: 1.0;
}

#blackh2{
	font-size:30px;
	color:black;
	opacity: 1.0;
}

#grayh2{
	font-size:30px;
	color: gray;
	opacity: 1.0;
}

#blueh2{
	font-size:30px;
	color:#3276B1;
	opacity: 1.0;
}

#grayblueh2{
	font-size:30px;
	color: #7096B6;
	opacity: 1.0;
}

#redh2{
	font-size:30px;
	color:#AC2925;
	opacity: 1.0;
}

.navMenu {
	font-size: 15px;
	color:#888;
}