* { padding: 0; margin: 0; }
html, body {
    min-height: 100% !important;
    height: 100%;
}
/*
div {
	border-color: rgba(255, 0, 0, 0.0);
	border-style: solid;
    border-width: 1px;
}
*/
.subContainer {
	/*
	background-color: rgb(255, 255, 255);

	border-color: #f1f1f1;
	border-style: solid;
    border-width: 1px;
    border-radius: 5px;
	*/

	width:1000px;
	height: auto;

	margin: auto;
	margin-top: 50px;
}

.contentMainTitle {
	height: 40px;
}

span.mainTitle {
	font-size: 20px;
}

span.subTitle {
	font-size: 16px;
}

span.tableTitle {
	font-size: 13px;
	color: #606060;
}

/* Table 관련 설정 */
th, td{
	text-align: center;
}