
#vivid-layer{
	opacity:1.0;

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width:50%;
	min-width: 270px;
	max-width: 480px;
	height: 430px;

	outline: none;
	border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 10px;

	background-color: rgba(255, 255, 255, 1);
	
	box-shadow: 2px 2px 5px #888888;

	margin: auto;
    padding-top: 40px;
    padding-bottom: 45px;

    text-align: center;

    -webkit-box-shadow: 0px 10px 39px -8px rgba(143,143,143,1);
    -moz-box-shadow: 0px 10px 39px -8px rgba(143,143,143,1);
    box-shadow: 0px 10px 39px -8px rgba(143,143,143,1);
}
