#slick-login{
	width:230px;
	height:155px;

    display: inline-block;
    text-align: center;
}

#slick-login input[type="text"],#slick-login input[type="password"] {
	width: 100%;
	height: 40px;
	position: relative;
	margin-top: 7px;
	font-size: 14px;
	color: #444;
	outline: none;
	border: 1px solid rgba(0, 0, 0, .49);

	padding-left: 20px;

	-webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 6px;

    background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
    background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
    background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
    background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
    background-image: linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
 
    -webkit-box-shadow: inset 0px 2px 0px #d9d9d9;
    box-shadow: inset 0px 2px 0px #d9d9d9;
}
 
#slick-login input[type="text"]:focus,#slick-login input[type="password"]:focus {
    -webkit-box-shadow: inset 0px 2px 0px #a7a7a7;
    box-shadow: inset 0px 2px 0px #a7a7a7;
}
 
#slick-login input:first-child {
	margin-top: 0px;
}

#slick-login button{
    width: 100%;
    height: 50px;
    margin-top: 7px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0px -1px 0px #5b6ddc;
    outline: none;
    border: 1px solid rgba(0, 0, 0, .49);
 
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 6px;
 
    background-color: #5466da;
    background-image: -webkit-linear-gradient(bottom, #5466da 0%, #768ee4 100%);
    background-image: -moz-linear-gradient(bottom, #5466da 0%, #768ee4 100%);
    background-image: -o-linear-gradient(bottom, #5466da 0%, #768ee4 100%);
    background-image: -ms-linear-gradient(bottom, #5466da 0%, #768ee4 100%);
    background-image: linear-gradient(bottom, #5466da 0%, #768ee4 100%);
 
    cursor: pointer;
     
    -webkit-box-shadow: inset 0px 1px 0px #9ab1ec;
    box-shadow: inset 0px 1px 0px #9ab1ec;
}
 
#slick-login button:hover {
    background-color: #5f73e9;
    background-image: -webkit-linear-gradient(bottom, #5f73e9 0%, #859bef 100%);
    background-image: -moz-linear-gradient(bottom, #5f73e9 0%, #859bef 100%);
    background-image: -o-linear-gradient(bottom, #5f73e9 0%, #859bef 100%);
    background-image: -ms-linear-gradient(bottom, #5f73e9 0%, #859bef 100%);
    background-image: linear-gradient(bottom, #5f73e9 0%, #859bef 100%);
 
    -webkit-box-shadow: inset 0px 1px 0px #aab9f4;
    box-shadow: inset 0px 1px 0px #aab9f4;
     
    margin-top: 10px;
}
 
#slick-login button:active {
    background-color: #7588e1;
    background-image: -webkit-linear-gradient(bottom, #7588e1 0%, #7184df 100%);
    background-image: -moz-linear-gradient(bottom, #7588e1 0%, #7184df 100%);
    background-image: -o-linear-gradient(bottom, #7588e1 0%, #7184df 100%);
    background-image: -ms-linear-gradient(bottom, #7588e1 0%, #7184df 100%);
    background-image: linear-gradient(bottom, #7588e1 0%, #7184df 100%);
 
    -webkit-box-shadow: inset 0px 1px 0px #93a9e9;
    box-shadow: inset 0px 1px 0px #93a9e9;
}

* { padding: 0; margin: 0; }
html, body {
    min-height: 100% !important;
    height: 100%;
}

#container{
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    overflow: hidden;

    background-color: rgba(0,0,0, .02);
}

div#signInBox {
    width: 350px;

    position: relative;
    top: 27%;

    outline: none;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 10px;

    background-color: rgba(255,255,255,1);

    margin: auto;
    padding-top: 40px;
    padding-bottom: 45px;

    text-align: center;

    -webkit-box-shadow: 0px 10px 39px -8px rgba(143,143,143,1);
    -moz-box-shadow: 0px 10px 39px -8px rgba(143,143,143,1);
    box-shadow: 0px 10px 39px -8px rgba(143,143,143,1);
}

/* Login 이미지 */
div #logo {	
	width:110px;
	margin: auto;
    display: inline;
    float: none;
    margin-top: 10px;
    margin-bottom: 40px;

	content:url("../res/SSM_logo.png");
}

/* Login Form */
div #login_form {
    display: inline;
    float: none;
    margin: auto;
}

/* 최상단의 Top Bar */
div#top_bar {
    width: 100%;
    height: 50px;

    position: absolute;

    background-color: rgba(0,0,0,.4);

-webkit-box-shadow: inset 0px -10px 0px 0px rgba(107,107,107,1);
-moz-box-shadow: inset 0px -10px 0px 0px rgba(107,107,107,1);
box-shadow: inset 0px -10px 0px 0px rgba(107,107,107,1);
}

#top_bar div.box {
    width: 20px;
    height: 100%;

    margin: 0px;
    padding: 0px;

    display: inline-block;
}

#top_bar #first {
    background-color: rgba(80, 80, 80, 1);
}

#top_bar #second {
    background-color: rgba(120, 120, 120, 1);
}

#top_bar #third {
    background-color: rgba(50, 50, 50, 1);
}

#top_bar div#text_box {
    width: 80%;
    height: 100%;

    margin-left: 20px;

    display: inline-block;

    background-color: rgba(255, 0, 1);

    font-size: 22px;
}

span {
    display: inline-block;
    vertical-align: middle;
}

/* Copyright 관련 */
div#copyright {
    position: relative;
    display: block;

    text-align: center;
    top:40%;
    left:0px;
}