

#logobox{
	width: 223px;
	height: 132px;
	margin: auto;
	background-size: 100% 100%;
	background-image: url('../res/newlogo.png');
	background-repeat: no-repeat;

	margin-bottom: 42px;
	margin-top: 20px;
}
