

/*@media (min-width: 992px) {
  .mainbox {
    max-width: 100%;
    max-height: 60%;
    height: auto;
  }

}

@media (min-width: 1200px) {
	  .mainbox {
	    max-width: 100%;
	    max-height: 60%;
	    height: auto;
	}
}
@media (min-width: 768px) {
  .mainbox {
    max-width: 100%;
    max-height: 60%;
    height: auto;
  }
}*/


.mainbox {
  padding: 0;
  margin: auto;
  font-family: NanumGothic;
  /*background-image: url("../res/maincontainer_backpink.png");*/
}


