/*@media (min-width: 992px) {
  .container {
    /*max-width: 65%;
    width: 65%;
   max-width: 1240px;
  }

}

@media (min-width: 1200px) {
	  .container {
	    /*max-width: 65%;
	    width: 65%;
	   max-width: 1400px;
	}
}
@media (min-width: 768px) {
  .container {
    /*max-width: 65%;
    width:65%;
   max-width:1120px;
  }
}*/


.mainContainer {
  padding-right: 15px;
  padding-left: 15px; 
  margin-right: auto;
  margin-left: auto;
}

