body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

/* Non-Responsive Media Query. */
@media (min-width: 992px) {
  .navbar-fixed-top {
    /*max-width: 65%;
    width: 65%;*/
   max-width: 1240px;
  }

}

@media (min-width: 1200px) {
	  .navbar-fixed-top {
	    /*max-width: 65%;
	    width: 65%;*/
	   max-width: 1400px;
	}
}
@media (min-width: 768px) {
  .navbar-fixed-top {
    /*max-width: 65%;
    width:65%;*/
   max-width:1120px;
  }
}


.navbar-fixed-top {
  top: 0;
  z-index: 1030;
  /*max-width: 65%;
  max-height: 10%;*/
  margin-left: auto;
  margin-right: auto;

}