




.chart div {
		  font: 10px sans-serif;
		  background-color: rgb(107, 176, 234);
		  text-align: right;
		  padding: 3px;
		  margin: 1px;
		  color: white;
		  box-shadow: 2px 2px 2px 0px gray;
		  border-top-right-radius: 10px;
		  border-bottom-right-radius: 10px;
		}
		
