/*
@media (min-width: 992px) {
  .workbox {
    max-width: 98%;
    max-height: 60%;
    width: 98%;
    height: auto;
  }

}

@media (min-width: 1200px) {
	  .workbox {
	    max-width: 98%;
	    max-height: 60%;
	    width: 98%;
	    height: auto;
	}
}
@media (min-width: 768px) {
  .workbox {
    max-width: 98%;
    max-height: 60%;
    width:98%;
    height: auto;
  }
}*/


.workbox {
  padding-top: 15px;
  padding-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  background: transparent;
  width: 100%;
  /*background-image: url("../res/maincontainer_backpink.png");*/
}