<?php
session_start();
?>
<script language="php">
	if(!isset($_SESSION['token'])){
	echo "<script>alert('허가되지 않은 접근입니다.')</script>
";
echo "
<meta http-equiv='refresh' content='0;url=/'>
";
session_destroy();
exit;
}else if(isset($_SESSION['token']) && ($_SESSION['timeout'] + 10 * 60 < time()))
{
echo "
<script>
alert('장시간 응답이 없어 자동으로 로그아웃되었습니다.')
</script>
";
echo "
<meta http-equiv='refresh' content='0;url=/'>
";
session_destroy();
exit;
}
$token = $_SESSION['token'];
$id = $_SESSION['uid'];
$realid = $_SESSION['realid'];
$username = $_SESSION['username'];
$accountgrant = $_SESSION['accountgrant'];

$_SESSION['timeout'] = time();
</script>

<script type="text/javascript">
	var token = '<?=$token?>';
	var id = '<?=$id?>';
	var realid = '<?=$realid?>';
	var username = '<?=$username?>'; 
	var accountgrant = '<?=$accountgrant?>';
	
</script>
<!--
	
	PMS 페이지 뷰어
	
-->
		<link href="../css/mainbox.css" rel="stylesheet">
		<link href="../css/workbox.css" rel="stylesheet">
		<link href="../css/main-noticebox.css" rel="stylesheet">
		<link href="../css/transparent-breadcrumb.css" rel="stylesheet">

		<link href="../css/animate/animate.css" rel="stylesheet">


		<div class="mainbox" ng-controller="jurorManagementCtrl" ng-init="showData()">
			<div class="container">
				<div class="workbox">
					<!-- BreadCrumb -->
					<ol class="breadcrumb">
						<li ><a href="#juror">배심원</a></li>
					</ol>
				</div>
			</div>
			
			<div class="container">
				<div class="workbox">
					<h3 id="grayblueh2">회원별 보기</h2>
				</div>
			</div>
			
			<div class="container" style="width:1170px;">
					<form class="navbar-search pull-right">
						<span class="glyphicon glyphicon-search"></span>
						<input type="text" class="search-query" placeholder="Search" ng-model="searchKeyword">
						<button class="btn" style="background-color: ghostwhite;">Search</button>
					</form>
			</div>
			
			<div class="container">
				<div class="workbox">
					<table class="table table-striped" style="padding-top: 10px;">
						<thead class="header">
							<th style="width:200px;">
								이름
							</th>
							<th style="width:150px;">
								기수
							</th>
							<th >
								배심원 평가 현황
							</th>
						</thead>
						<!-- <tbody ng-repeat="member in members | filter:searchKeyword"> -->
						<tbody class="fadeAnimation"  ng-repeat="judge in judges | filter:searchKeyword | orderBy:judge.username">
							<tr>
								<td>
									{{judge.username}}
								</td>
								<td>
									{{judge.entered}}
								</td>
								<td>
									<ul class="list-inline">
										<li ng-repeat="myjudge in judge.judgeLists track by $index">{{myjudge}} . </li>
									</ul>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>



<!-- Configuration Modal -->

<div class="modal fade" id="editJurorModal" ng-controller="editJurorsCtrl">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="modal-title">배심원을 추가해주세요.</h3>
			</div>
			<div class="modal-body">
				<p>
					<ul class="list-inline">
						<li>
							<input type="text" id="addQueue" class="form-control" readonly="true" >
							
						</li>
						<li>
							<input type="text" class="form-control" data-ng-model="searchKeyword">
						</li>
						<li>
							<button class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
						</li>
					</ul>
					
				</p>
				<table class="table">
					<thead>
						<th>
							이름
						</th>
						<th>
							기수
						</th>
					</thead>
					<tbody>
						<tr ng-repeat="member in members | filter:searchKeyword" >
							<td ng-click="appendJurors($event)">{{member.username}}</td>
							<td>{{member.entered}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" ng-click="applyAppendings()" data-dismiss="modal">Apply</button>
			</div>
		</div>
	</div>
</div>



