


<ul>
	<li style='display:inline-block; width:100px; padding-left:25px;'>
		<input type='checkbox' name='chk_project'>
	</li>
	<li style='display:inline-block; width:480px;' ng-click='printInfo({{project}})'>{{project.projectname}}</li>
	<li style='display:inline-block; width:270px;'>
		<ul class="list-inline">
			<li style="width:220px;">{{project.jurors}}</li>
			<li><button class="btn btn-default" style="padding-left:10px; padding-right:10px; background:transparent; border:0px;" data-toggle="modal" data-target="#editJurorModal">
				<span class="glyphicon glyphicon-cog"></span></button></li>
		</ul>
	</li>
	<li style='display:inline-block'>{{project.startmonth}} ~ {{project.endmonth}}</li>
</ul>
<hr style='margin-top:10px; margin-bottom:10px; border-top:2px solid gainsboro'/>



