
<div>
	<h4><span class="label label-info">{{juror.username}}
	<button class="btn btn-default" style="padding-left:5px; padding-right:5px; padding-top:3px; padding-bottom:3px; background:transparent; border:transparent;">
		<span class="glyphicon glyphicon-remove-circle"></span></button></span></h4>
</div>
