<?php
session_start();
?>
<script language="php">
	if(!isset($_SESSION['token'])){
	echo "<script>alert('허가되지 않은 접근입니다.')</script>
";
echo "
<meta http-equiv='refresh' content='0;url=/'>
";
session_destroy();
exit;
}else if(isset($_SESSION['token']) && ($_SESSION['timeout'] + 10 * 60 < time()))
{
echo "
<script>
alert('장시간 응답이 없어 자동으로 로그아웃되었습니다.')
</script>
";
echo "
<meta http-equiv='refresh' content='0;url=/'>
";
session_destroy();
exit;
}
$token = $_SESSION['token'];
$id = $_SESSION['uid'];
$realid = $_SESSION['realid'];
$username = $_SESSION['username'];
$accountgrant = $_SESSION['accountgrant'];

$_SESSION['timeout'] = time();
</script>

<script type="text/javascript">
	var token = '<?=$token?>';
	var id = '<?=$id?>';
	var realid = '<?=$realid?>';
	var username = '<?=$username?>'; 
	var accountgrant = '<?=$accountgrant?>';
	
</script>
<!--

PMS 페이지 뷰어

-->
<link href="../css/mainbox.css" rel="stylesheet">
<link href="../css/workbox.css" rel="stylesheet">
<link href="../css/main-noticebox.css" rel="stylesheet">
<link href="../css/transparent-breadcrumb.css" rel="stylesheet">
<link href="../css/color-font.css" rel="stylesheet">

<link href="../css/d3chart.css" rel="stylesheet">



<div class="mainbox">
	<div class="container">
		<div class="page-header">
			<h1>출석</h1>
		</div>

		<div class="row">
			<div class="col-lg-5" ng-controller='ChartController'>
				<d3-bars data="myData"  ></d3-bars>
			</div>
			<div class="col-lg-7" ng-controller='AttendanceController'>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>번호</th>
							<th>기수</th>
							<th>이름</th>
							<th>출석률</th>
						</tr>
					</thead>

					<tbody id="compileArea">
						<tr ng-repeat="att in attendance">
							<td>{{ $index + 1 }}</td>
							<td>{{ att.username }}</td>
							<td>{{ att.entered }}</td>
							<td>{{ att.cnt }}</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>
</div>

