<?php
session_start();
?>
<script language="php">
	if(!isset($_SESSION['token'])){
	echo "<script>alert('허가되지 않은 접근입니다.')</script>
";
echo "
<meta http-equiv='refresh' content='0;url=/'>
";
session_destroy();
exit;
}else if(isset($_SESSION['token']) && ($_SESSION['timeout'] + 10 * 60 < time()))
{
echo "
<script>
alert('장시간 응답이 없어 자동으로 로그아웃되었습니다.')
</script>
";
echo "
<meta http-equiv='refresh' content='0;url=/'>
";
session_destroy();
exit;
}
$token = $_SESSION['token'];
$id = $_SESSION['uid'];
$realid = $_SESSION['realid'];
$username = $_SESSION['username'];
$accountgrant = $_SESSION['accountgrant'];

$_SESSION['timeout'] = time();
</script>

<script type="text/javascript">
	var token = '<?=$token?>';
	var id = '<?=$id?>';
	var realid = '<?=$realid?>';
	var username = '<?=$username?>'; 
	var accountgrant = '<?=$accountgrant?>';
	
</script>

<!--

당직 페이지 뷰어

-->
<link href="../css/mainbox.css" rel="stylesheet">
<link href="../css/workbox.css" rel="stylesheet">
<link href="../css/main-noticebox.css" rel="stylesheet">
<link href="../css/transparent-breadcrumb.css" rel="stylesheet">
<link href="../css/color-font.css" rel="stylesheet">
<link href="../css/view/responsive-affix.css" rel="stylesheet">

<div class="mainbox" id="dutyMainView" data-twttr-rendered="true" ng-controller="dutyCtrl">
	<div class="container" ng-init="initDuty(todayYear, todayMonth)" style="width:100%;">
		<div class="page-header">
			<h1>당직</h1>
		</div>
		<div class="row">
			<div class="col-md-2">
				
				<div class="bs-sidebar hidden-print affix responsive" role="complementary">
					<ul class="nav bs-sidenav">
						<li class="active">
							<a href="#duty/#duty-check">당직일 조회</a>
							<ul class="nav">
								<li>
									<a href="#duty/#duty-change-require">당직일 변경신청</a>
								</li>
								<li>
									<a href="#duty/#duty-change-accept">당직일 변경승인</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				
			</div>
			<div class="col-md-10" role="main">
				<!-- 당직조회
				================================================== -->
				<div class="bs-docs-section" >
					<div class="page-header">
						<h2 id="duty-check">당직일 조회</h2>
					</div>
					<p>

							<div class="workbox" ng-controller="dutyCalendarviewCtrl">
								<div class="container" style="width:100%;" >
										<ul class="list-inline" style="text-align:center; ">
											<li style="width: 50px;"></li>
											<li style="width: 50px;"></li>
											<li><button class="btn btn-success" ng-click="movePrevMonth()"><span class="glyphicon glyphicon-arrow-left"></span></button></li>
											<li>{{Year}} 년 {{Month}} 월</li>
											<li><button class="btn btn-success" ng-click="moveNextMonth()"><span class="glyphicon glyphicon-arrow-right"></span></button></li>
											<li style="width: 50px; padding-left:10px; ">
												<button class="btn btn-default" id="dutyRandomBtn" ng-click="generateRandomDuty()">
												<span class="glyphicon glyphicon-random"></span></button>
											</li>
											<li style="width: 50px;">
												<button class="btn btn-default" id="dutyConfirmBtn" ng-click="confirmDuty()"><span class="glyphicon glyphicon-ok"></span></button>
											</li>
										</ul>
										<calendar-frame></calendar-frame>
								</div>
							</div>
					</p>
				</div>
				<div class="bs-docs-section">
					<div class="page-header">
						<h2 id="duty-change-require">당직일 변경신청</h2>
					</div>
					<p>
						<div class="workbox" >
							
							<div class="workbox" >
								<ul class="list-inline">
									<li style="vertical-align: top;">
										<table class="table-hover" style="width:250px;">
											<thead>
												<th style="width:250px">내 당직 예정 날짜</th>
											</thead>
											<tbody>
												<tr>
													<td>
														<select class="form-control" ng-model="myselectduty" ng-options="myduty.dutydate for myduty in mydutys">
															<!-- <option value=""></option> -->
														</select>
													</td>
												</tr>
											</tbody>
										</table>
									</li>
									<li style="width:10px;"></li>
									<li>
										<table class="table-hover">
											<thead>
												<th>
													변경 일자 선택
												</th>
												<th style="padding-left:20px; ">
													변경 예정 당직자
												</th>
											</thead>
											<tbody>
												<tr>
													<td>
														<input type="text" id="dutyDateForm" readonly class="form-control form_datetime">
													</td>
													<td style="padding-left: 20px;">
														<!-- <select class="form-control" ng-model="changetargetduty" ng-options="changeduty."> -->
														<select class="form-control" id="changeDutyNames">
														</select>
													</td>
												</tr>
											</tbody>
										</table>
	
									</li>
								</ul>
							</div>
							<div class="workbox">
								<table class="table-striped">
									<thead>
										<th>사유</th>
										<th></th>
									</thead>
									<tbody>
										<tr>
											<td>
												<textarea class="form-control" id="dutyChangeReason" maxlength="100" placeholder="200자 이내의 사유를 기재" style="width: 605px; height:70px;"></textarea>
											</td>
											<td rowspan="2" style="padding-left: 10px; ">
												<button class="btn btn-primary" style="width:150px; " ng-click="requestDutyChange()">신청하기</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							
							
						</div>

					</p>

				</div>
				<div class="bs-docs-section" id="duty-change-accept-container">
					<div class="page-header">
						<h2 id="duty-change-accept">당직일 변경승인</h2>
					</div>
					<p>
						<h3>당직 변경 신청자 리스트</h3>
						<table class="table-bordered">
							<thead>
								<th style="width:120px; text-align: center;">신청자</th>
								<th style="width:120px; text-align: center;">변경 전 날짜</th>
								<th style="width:120px; text-align: center;">변경 당직자</th>
								<th style="width:120px; text-align: center;">변경 후 날짜</th>
								<th style="width:330px; text-align: center;">사유</th>
								<th style="width:80px; text-align: center;">승인</th>
							</thead>
							<tbody>
								<tr ng-repeat="dutyChangeItem in dutyChangeList">
									<td style="text-align: center;">
										{{dutyChangeItem.account_name_src}}
									</td>
									<td style="text-align: center;">
										{{dutyChangeItem.dutydate_src}}
									</td>
									<td style="text-align: center;">
										{{dutyChangeItem.account_name_dst}}
									</td>
									<td style="text-align: center;">
										{{dutyChangeItem.dutydate_dst}}
									</td>
									<td>
										귀찮아서
										<!-- {{dutyChangeItem.reason}} -->
									</td>
									<td style="text-align: center;">
										<ul class="list-inline" style="padding-top: 5px; padding-bottom:5px; margin:auto; margin-left: 5px;">
											<li>
												<!-- <input type="checkbox"> -->
												<button class="btn btn-default" ng-click="acceptChangeReq($index)"><span class="glyphicon glyphicon-ok-circle"></span></button>
												<button class="btn btn-default" ng-click="denyChangeReq($index)"><span class="glyphicon glyphicon-ban-circle"></span></button>
											</li>
											<li>
												<!-- <input type="checkbox"> -->
											</li>
										</ul>
									</td>
								</tr>
							</tbody>
						</table>
					</p>
				</div>
			</div>
		</div>
	</div>






	<div class="modal fade" id="dutyModal" ng-controller="dutyCtrl">
		<div class="modal-dialog" ng-init = "initDutySchedules()">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h3>{{Year}}년 {{Month}}월 {{Day}}일 당직 보기</h3>
				</div>
				<div class="modal-body">
					<div class="workbox">			
						<table class="table">
							<thead>
								<th style="width:120px; padding-left:15px; text-align:center;">당직자</th>
								<th style="width:200px; text-align: center;">분류</th>
								<th style="width:380px; text-align: center;">변경하기</th>
							</thead>
							<tbody>
								<tr ng-repeat = "dutyboy in dutyboys">
									<td>{{dutyboy.memberinfo.username}}</td>
									<td>{{dutyboy.dutytype}}</td>
									<td>
										<ul class="list-inline">
											<li style="width: 120px;">
												<select class="form-control" ng-model="newdutyboy" ng-options="dutymember.username for dutymember in dutymembers">
												</select>											
											</li>
											<li>
												<button class="btn" ng-click="changeNewDuty(0, $index)">변경</button>											
											</li>
										</ul>
									</td>
								</tr>
								<tr ng-repeat = "dutygirl in dutygirls">
									<td>{{dutygirl.memberinfo.username}}</td>
									<td>{{dutygirl.dutytype}}</td>
									<td>
										<ul class="list-inline" >
											<li style="width: 120px;">
												<select class="form-control" ng-model="newdutygirl" ng-options="dutymember.username for dutymember in dutymembers">
												</select>
											</li>
											<li>
												<button class="btn" ng-click="changeNewDuty(1, $index)">변경</button>
											</li>
										</ul>
									</td>
								</tr>
								<tr>
									<td>
										<select class="form-control" id="newDutyName" ng-model="newdutymember" ng-options="dutymember.username for dutymember in dutymembers" style="width:180px;"></select>
									</td>
									<td>
										<select class="form-control" id="newDutyGender">
											<option>남성</option>
											<option>여성</option>
										</select>
									</td>
									<td>
										<button class="btn" ng-click="addNewDuty()"><span class="glyphicon glyphicon-plus"></span></button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="workbox">
						<ul class='list-inline' style="text-align: center;">
							<li>
								<button class="btn" style="width: 150px;" ng-click="confirmNewDuty()">확인</button>
							</li>
							<li>
								<button class="btn" style="width: 150px;" data-dismiss="modal">취소</button>
							</li>
						</ul>
					</div>					
				</div>
			</div>
		</div>
	</div>
	










