<?php
session_start();
?>
<script language="php">
	if(!isset($_SESSION['token'])){
	echo "<script>alert('허가되지 않은 접근입니다.')</script>
";
echo "
<meta http-equiv='refresh' content='0;url=/'>
";
session_destroy();
exit;
}else if(isset($_SESSION['token']) && ($_SESSION['timeout'] + 10 * 60 < time()))
{
echo "
<script>
alert('장시간 응답이 없어 자동으로 로그아웃되었습니다.')
</script>
";
echo "
<meta http-equiv='refresh' content='0;url=/'>
";
session_destroy();
exit;
}
$token = $_SESSION['token'];
$id = $_SESSION['uid'];
$realid = $_SESSION['realid'];
$username = $_SESSION['username'];
$accountgrant = $_SESSION['accountgrant'];

$_SESSION['timeout'] = time();
</script>

<script type="text/javascript">
	var token = '<?=$token?>';
	var id = '<?=$id?>';
	var realid = '<?=$realid?>';
	var username = '<?=$username?>'; 
	var accountgrant = '<?=$accountgrant?>';
	
</script>
<!--
	
	PMS 페이지 뷰어
	
-->
		<link href="../css/mainbox.css" rel="stylesheet">
		<link href="../css/workbox.css" rel="stylesheet">
		<link href="../css/main-noticebox.css" rel="stylesheet">
		<link href="../css/transparent-breadcrumb.css" rel="stylesheet">
		<link href="../css/filterable.css" rel="stylesheet">


		<div class="mainbox">
			<div class="container">
				<div class="page-header">
					<h1>회원정보</h1>
				</div>

				<div class="row">
					<div class="panel panel-primary filterable" ng-controller='MemberFilterController'>
						<div class="panel-heading">
							<h3 class="panel-title">목록</h3>
							<div class="pull-right">
								<button class="btn btn-default btn-xs btn-filter">
									<span class="glyphicon glyphicon-filter"></span> 필터
								</button>
							</div>
						</div>
						<div ng-controller='MemberListController'>
							<table class="table table-hover">
								<thead>
									<tr class="filters">
										<th style="width:50px">
										<input type="text" class="form-control" placeholder="#" disabled>
										</th>
										<th>
										<input type="text" class="form-control" placeholder="기수" disabled>
										</th>
										<th>
										<input type="text" class="form-control" placeholder="이름" disabled>
										</th>
										<th>
										<input type="text" class="form-control" placeholder="연락처" disabled>
										</th>
										<th>
										<input type="text" class="form-control" placeholder="이메일" disabled>
										</th>
										<th>
										<input type="text" class="form-control" placeholder="생일" disabled>
										</th>
										<th>
										<input type="text" class="form-control" placeholder="구분" disabled>
										</th>

									</tr>
								</thead>
								<tbody id="compileArea">
									<tr ng-repeat="acc in accounts">
										<td>{{ $index+1 }}</td>
										<td>{{ acc.entered }}</td>
										<td>{{ acc.username }}</td>
										<td>{{ acc.phone }}</td>
										<td>{{ acc.googleid }}</td>
										<td>{{ acc.birthday }}</td>
										<td ng-if="acc.accountgrant==000">관리자</td>
										<td ng-if="acc.accountgrant==001">운영자</td>
										<td ng-if="acc.accountgrant==100">회장</td>
										<td ng-if="acc.accountgrant==101">총무</td>
										<td ng-if="acc.accountgrant==200">생활부장</td>
										<td ng-if="acc.accountgrant==201">여성생활부장</td>
										<td ng-if="acc.accountgrant==202">생활부원</td>
										<td ng-if="acc.accountgrant==300">교욱부장</td>
										<td ng-if="acc.accountgrant==302">교욱부원</td>
										<td ng-if="acc.accountgrant==400">네트워크부장</td>
										<td ng-if="acc.accountgrant==402">네트워크부원</td>
										<td ng-if="acc.accountgrant==500">자산관리부장</td>
										<td ng-if="acc.accountgrant==502">자산관리부원</td>
										<td ng-if="acc.accountgrant==600">기획부장</td>
										<td ng-if="acc.accountgrant==602">기획부원</td>
										<td ng-if="acc.accountgrant==700">PX부장</td>
										<td ng-if="acc.accountgrant==702">PX부원</td>
										<td ng-if="acc.accountgrant==800">하드웨어부장</td>
										<td ng-if="acc.accountgrant==802">하드웨어부원</td>
										<td ng-if="acc.accountgrant==1000">일반회원</td>
										<td ng-if="acc.accountgrant==2000">신입회원</td>
										<td ng-if="acc.accountgrant==3000">수료회원</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

				</div>
			</div>
		</div>

