

<li class="list-group-item">
	<ul style="display:inline-block; padding-left:0px;">
		<li style="display:inline-block; width:360px;">	FileName</li>
		<li style="display:inline-block; ">	
			<button class="btn btn-default" style="padding-left:5px; padding-right:5px; padding-top:1px; padding-bottom:1px;">&times;</button>
		</li>
	</ul>
