<?php
session_start();
?>
<script language="php">
	if(!isset($_SESSION['token'])){
	echo "<script>alert('허가되지 않은 접근입니다.')</script>
";
echo "
<meta http-equiv='refresh' content='0;url=/'>
";
session_destroy();
exit;
}else if(isset($_SESSION['token']) && ($_SESSION['timeout'] + 10 * 60 < time()))
{
echo "
<script>
alert('장시간 응답이 없어 자동으로 로그아웃되었습니다.')
</script>
";
echo "
<meta http-equiv='refresh' content='0;url=/'>
";
session_destroy();
exit;
}
$token = $_SESSION['token'];
$id = $_SESSION['uid'];
$realid = $_SESSION['realid'];
$username = $_SESSION['username'];
$accountgrant = $_SESSION['accountgrant'];

$_SESSION['timeout'] = time();
</script>

<script type="text/javascript">
	var token = '<?=$token?>';
	var id = '<?=$id?>';
	var realid = '<?=$realid?>';
	var username = '<?=$username?>'; 
	var accountgrant = '<?=$accountgrant?>';
	
</script>
<!--
	
	PMS 페이지 뷰어
	
-->
		<link href="../css/mainbox.css" rel="stylesheet">
		<link href="../css/workbox.css" rel="stylesheet">
		<link href="../css/main-noticebox.css" rel="stylesheet">
		<link href="../css/transparent-breadcrumb.css" rel="stylesheet">
		<link href="../css/color-font.css" rel="stylesheet">
	

	
		
		<div class="mainbox" >
			<div class="container">
				<div class="workbox">
					<!-- BreadCrumb -->
					<ol class="breadcrumb">
						<li><a href="#freeboard">자유게시판</a></li>
					</ol>
				</div>

			</div>


			<div class="container" ng-controller="freeBoardSelectCtrl">
				<table class="table">
					<tr>
						<td style="vertical-align: middle;">제 목 </td>
						<td>{{MessageName}}</td>
					</tr>
					<tr>
						<td style="vertical-align: middle;">작성자</td>
						<td>{{MessageWriter}}</td>
					</tr>
					<tr>
						<td style="vertical-align: middle;">작성시간</td>
						<td>{{MessageTime}}</td>
					</tr>
					<tr style="height:150px;">
						<td style="vertical-align: middle;">글 내용 </td>
						<td ng-bind-html="MessageContents"></td>
					</tr>
					<tr>
						<td style="vertical-align: middle;">첨부파일</td>
						<td>
							<ul class="list-unstyled">
								<li>
									<ul class="list-unstyled" ng-repeat="attachedfile in attachedfiles">
										<li></li>
									</ul>
								</li>
								<li>
									<ul class="list-inline">
										<li>
											<button class="btn btn-primary" style="width:200px; margin-top:5px;">다운로드</button>
										</li>
									</ul>
								</li>
							</ul>
						</td>
					</tr>
				</table>
				
				<div class="workbox">
					<ul class="list-unstyled">
						<li style="padding-bottom:20px;">
							<ul class="list-inline">
								<li style="width:150px;">코멘트 : </li>
								<li style="width:700px;"><input type="text" class="form-control" id = "commentText"></li>
								<li style="width:200px;"><button class="btn btn-block" ng-click="writeComment()">추가</button></li>
							</ul>
						</li>
						<li ng-repeat="comment in comments" style="padding-top:15px;">
							<ul class="list-inline">
								<li style="width:150px; text-align: center;">{{comment.username}}</li>
								<li style="width:750px; text-align: center;">{{comment.content}}</li>
								<li style="width:100px; text-align: center;"><button class="btn btn-block" style="width:50px; padding-top:0px; padding-bottom:0px;" ng-click="deleteComment($index)"><span class="glyphicon glyphicon-minus"></span></button></li>
							</ul>
						</li>
					</ul>
				</div>
				
			</div>
		</div>


