<?php
session_start();
?>
<script language="php">
	if(!isset($_SESSION['token'])){
	echo "<script>alert('허가되지 않은 접근입니다.')</script>
";
echo "
<meta http-equiv='refresh' content='0;url=/'>
";
session_destroy();
exit;
}else if(isset($_SESSION['token']) && ($_SESSION['timeout'] + 10 * 60 < time()))
{
echo "
<script>
alert('장시간 응답이 없어 자동으로 로그아웃되었습니다.')
</script>
";
echo "
<meta http-equiv='refresh' content='0;url=/'>
";
session_destroy();
exit;
}
$token = $_SESSION['token'];
$id = $_SESSION['uid'];
$realid = $_SESSION['realid'];
$username = $_SESSION['username'];
$accountgrant = $_SESSION['accountgrant'];

$_SESSION['timeout'] = time();
</script>

<script type="text/javascript">
	var token = '<?=$token?>';
	var id = '<?=$id?>';
	var realid = '<?=$realid?>';
	var username = '<?=$username?>'; 
	var accountgrant = '<?=$accountgrant?>';
	
</script>

<!--
	
	자유게시판 글쓰기 페이지 뷰어
	
-->


		<link href="../css/mainbox.css" rel="stylesheet">
		<link href="../css/workbox.css" rel="stylesheet">
		<link href="../css/main-noticebox.css" rel="stylesheet">
		<link href="../css/transparent-breadcrumb.css" rel="stylesheet">
		<link href="../css/color-font.css" rel="stylesheet">
		<link href="../css/text-editor.css" rel="stylesheet">

		
		<div class="mainbox" >
			<div class="container">
				<div class="workbox">
					<!-- BreadCrumb -->
					<ol class="breadcrumb">
						<li><a href="#freeboard">자유게시판</a></li>
						<li>글쓰기</li>
					</ol>
				</div>
			</div>

			<div class="container">
				<div class="workbox" ng-controller="freeBoardRegisterMessageCtrl" >
					<table class="table">
						<tbody>
							<tr>
								<td style="width:150px;"><p class="text-center" style="margin-bottom:5px; padding-top:5px;">제목</p></td>
								<td>
									<input type="text" class="form-control" id="htmltitle" name="htmltitle" ng-model="htmltitle" placeholder="제목을 입력하세요" style="width:500px;" autofocus="">
								</td>
							</tr>
							<tr>
								<td style="width:150px;"><p class="text-center" style="padding-top:10px;">내용</p></td>
								<td>
									<div text-angular="text-angular" id="htmlcontent" name="htmlcontent" ng-model="htmlcontent" ta-disabled='disabled'></div>
								</td>
							</tr>
							<tr>
								<td style="width:150px;"><p class="text-center" style="margin-bottom:5px; padding-top:10px;">첨부파일</p></td>
								<td>
									<textarea class="form-control" rows="3" style="width:420px; margin-bottom:5px;"></textarea>
									<button class="btn btn-default" >파일 업로드</button>
								</td>
							</tr>
						</tbody>
					</table>
					<ul class="list-inline" style="text-align:center; ">
						<li>
							<button class="btn btn-success" ng-click="clickRegisterMessage()">글쓰기</button>
						</li>
						<li>
							<button class="btn btn-default" ng-click="clickPreviewMessage()">미리보기</button>
						</li>
						<li>
							<button class="btn btn-default" ng-click="clickCancelMessage()">취소</button>
						</li>
					</ul>
				</div>
			</div>
			<div class="container">

			</div>


		</div>
		
		
