<?php
session_start();
?>
<script language="php">
	if(!isset($_SESSION['token'])){
	echo "<script>alert('허가되지 않은 접근입니다.')</script>
";
echo "
<meta http-equiv='refresh' content='0;url=/'>
";
session_destroy();
exit;
}else if(isset($_SESSION['token']) && ($_SESSION['timeout'] + 10 * 60 < time()))
{
echo "
<script>
alert('장시간 응답이 없어 자동으로 로그아웃되었습니다.')
</script>
";
echo "
<meta http-equiv='refresh' content='0;url=/'>
";
session_destroy();
exit;
}
$token = $_SESSION['token'];
$id = $_SESSION['uid'];
$realid = $_SESSION['realid'];
$username = $_SESSION['username'];
$accountgrant = $_SESSION['accountgrant'];

$_SESSION['timeout'] = time();
</script>

<script type="text/javascript">
	var token = '<?=$token?>';
	var id = '<?=$id?>';
	var realid = '<?=$realid?>';
	var username = '<?=$username?>'; 
	var accountgrant = '<?=$accountgrant?>';
	
</script>
   
<!--
	
	PMS 페이지 뷰어
	
-->
		<link href="../css/mainbox.css" rel="stylesheet">
		<link href="../css/workbox.css" rel="stylesheet">
		<link href="../css/main-noticebox.css" rel="stylesheet">
		<link href="../css/transparent-breadcrumb.css" rel="stylesheet">
		<link href="../css/color-font.css" rel="stylesheet">
	
	

		<div class="mainbox" ng-controller="freeBoardCtrl">
			<div class="container">
				<div class="workbox">
					<!-- BreadCrumb -->
					<ol class="breadcrumb">
						<li><a href="#freeboard">자유게시판</a></li>
						
					</ol>
				</div>
			</div>
			
			<div class="container" style="width:1170px;">
					<form class="navbar-search pull-right">
						<span class="glyphicon glyphicon-search"></span>
						<input type="text" class="search-query" placeholder="Search" ng-model = "searchKeyword">
						<button class="btn" style="background-color: ghostwhite;">Search</button>
					</form>
			</div>
			<div class="container" style="width:1170px;" ng-init="showData()">
				<div class="workbox">
					<div class="container" >
						<ul >
						<li style="display:inline-block; width:128px; text-align:center; "><h4><b>게시번호</b></h4></li>
						<li style="display:inline-block; width:482px; text-align:center; " ><h4><b>게시글</b></h4></li>
						<li style="display:inline-block; width:255px; text-align:center; " ><h4><b>작성자</b></h4></li>
						<li style="display:inline-block; width:150px; text-align:center; "><h4><b>작성시간</b></h4></li>
						</ul>
						<hr style="border-color:lightgrey; margin:auto; width:1090px;"/>
						
						<div ng-repeat="boardmessage in boardMessages | filter:searchKeyword | pagination: curPage * pageSize | limitTo: pageSize" style="margin-top:10px; margin-bottom:10px;">
							<free-board-messages></free-board-messages>
						</div>
					
					</div>
					
				</div>
			</div>
			
			<div class="container" style="width: 1170px;" >
				<div class="workbox" >
					<ul class="list-inline" style="text-align:right; padding-right:25px; ">
						<li><button class="btn btn-success" style="width: 150px; box-shadow: 1px 1px 1px 0px gray;" ng-click="registerMessage()">글쓰기</button></li>
					</ul>
					<ul class="pager" >
						<li>
							<button class="btn btn-primary" ng-disabled="curPage <= 0" ng-click="curPage = curPage - 1">&lt; PREV</button>
						</li>
						<li><input type="text" class="span2" style="width:50px; " value="{{curPage+1}}"> / <input type="text" class="span2" disabled="true" style="width:50px; " value="{{numberOfPages()}}"></li>
						<li>
							<button class="btn btn-primary" ng-disabled="curPage >= projectViews.length/pageSize - 1" ng-click="curPage = curPage+1">NEXT &gt;</button>
						</li>
					</ul>
				</div>
			</div>
			


						
			
		</div>

