

<ul >
	<li style='display:inline-block; width:120px; text-align: center;' >{{boardmessage.board_id}}</li>
	<li style='display:inline-block; width:530px; padding-left:30px;' ng-click="selectMessage($index)"  ng-mouseover = "messageMouseOver()" ng-mouseleave="messageMouseLeave()">{{boardmessage.title}}</li>
	<li style='display:inline-block; width:180px; text-align: center;'>{{boardmessage.username}}</li>
	<li style='display:inline-block; width:200px; text-align: center; padding-left:10px;'>{{boardmessage.insert_time}}</li>
</ul>
<hr style='margin-top:10px; margin-bottom:10px; border-top:2px solid gainsboro'/>

