

<ul class="list-unstyled" ng-controller="selectProjectCtrl">
	<li ng-click="expand = !expand">
		<ul class="list-inline" >
			<li style="width:150px;">
				{{pmseval.name}}
			</li>
			<li style="width:150px;">
				{{pmseval.grade}}
			</li>
			<li style="width:720px;">
				{{pmseval.contents}}
			</li>
		</ul>
	</li>
	<li class="workbox" ng-show="expand" >
		<ul class="list-inline">
			<li style="width:150px;">
				창의성
			</li>
			<li style="width:600px;">
				<div class="chart">
					<div style="width: {{50 * pmseval.creativeRatio}}px; height:10px;"></div>
				</div>
			</li>
			<li style="width:200px;">
				{{pmseval.creativeRatio}} 점
			</li>
		</ul>

		<ul class="list-inline">
			<li style="width:150px;">
				활용성
			</li>
			<li style="width:600px;">
				<div class="chart">
					<div style="width: {{50 * pmseval.usefulRatio}}px; height:10px;"></div>
				</div>
			</li>
			<li style="width:200px;">
				{{pmseval.usefulRatio}} 점
			</li>
		</ul>		

		<ul class="list-inline">
			<li style="width:150px;">
				기술력
			</li>
			<li style="width:600px;">
				<div class="chart">
					<div style="width: {{50 * pmseval.technicalRatio}}px; height:10px;"></div>
				</div>
			</li>
			<li style="width:200px;">
				{{pmseval.technicalRatio}} 점
			</li>
		</ul>

		<ul class="list-inline">
			<li style="width:150px;">
				준비/완성도
			</li>
			<li style="width:600px;">
				<div class="chart">
					<div style="width: {{50 * pmseval.successfulRatio}}px; height:10px;"></div>
				</div>
			</li>
			<li style="width:200px;">
				{{pmseval.successfulRatio}} 점
			</li>
		</ul>

	</li>
</ul>

