<?php
session_start();
?>
<script language="php">
	if(!isset($_SESSION['token'])){
	echo "<script>alert('허가되지 않은 접근입니다.')</script>
";
echo "
<meta http-equiv='refresh' content='0;url=/'>
";
session_destroy();
exit;
}else if(isset($_SESSION['token']) && ($_SESSION['timeout'] + 10 * 60 < time()))
{
echo "
<script>
alert('장시간 응답이 없어 자동으로 로그아웃되었습니다.')
</script>
";
echo "
<meta http-equiv='refresh' content='0;url=/'>
";
session_destroy();
exit;
}
$token = $_SESSION['token'];
$id = $_SESSION['uid'];
$realid = $_SESSION['realid'];
$username = $_SESSION['username'];
$accountgrant = $_SESSION['accountgrant'];

$_SESSION['timeout'] = time();
</script>

<script type="text/javascript">
	var token = '<?=$token?>';
	var id = '<?=$id?>';
	var realid = '<?=$realid?>';
	var username = '<?=$username?>'; 
	var accountgrant = '<?=$accountgrant?>';
	
</script>

<!--
	
	PMS 페이지 뷰어
	
-->
		<link href="../css/mainbox.css" rel="stylesheet">
		<link href="../css/workbox.css" rel="stylesheet">
		<link href="../css/main-noticebox.css" rel="stylesheet">
		<link href="../css/transparent-breadcrumb.css" rel="stylesheet">


		<div class="mainbox" ng-controller="projectListingCtrl">
			<div class="container">
				<div class="workbox">
					<!-- BreadCrumb -->
					<ol class="breadcrumb">
						<li><a href="#pms">PMS</a></li>
						
					</ol>
				</div>
			</div>
			<div class="container" style="width:1170px;">
					<form class="navbar-search pull-right">
						<span class="glyphicon glyphicon-search"></span>
						<input type="text" class="search-query" placeholder="Search" ng-model = "searchKeyword">
						<button class="btn" style="background-color: ghostwhite;">Search</button>
					</form>
			</div>
			
			<!-- Pagination View -->
			
			<div class="container" style="width:1170px;">
				<div class="workbox" ng-init="showData()">
					
					<table class="table-hover" style="width:100%">
						<thead>
							<th style="width:492px; text-align:center; padding-bottom:10px;">프로젝트 이름</th>
							<th style="width:265px; text-align:center; padding-bottom:10px;">팀원</th>
							<th style="width:150px; text-align:center; padding-bottom:10px;">개발 기간</th>
						</thead>
						<tbody class="fadeInstanceAnimation" ng-repeat="project in projectViews | filter:searchKeyword | pagination: curPage * pageSize | limitTo: pageSize">
							<tr>
								<td style="padding-top:5px; padding-bottom:5px; padding-left: 20px; height:60px; font-size:x-large;" ng-mouseover = "projectMouseOver()" ng-mouseleave="projectMouseLeave()" ng-click="projectSelect($index)">
									{{project.name}}
								</td>
								<td style="padding-top:5px; padding-bottom:5px; height:60px;">{{project.members}}</td>
								<td style="padding-top:5px; padding-bottom:5px; height:60px; text-align:center; ">{{project.term}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			
			<!--  -->
			
			<div class="container" style="width: 1170px;" >
				<div class="workbox" >
					<ul class="list-inline" style="text-align:right; padding-right:25px; ">
						<li><button class="btn btn-success" style="width: 150px; box-shadow: 1px 1px 1px 0px gray;" ng-click="registerProject()">등록</button></li>
					</ul>
					<ul class="pager" >
						<li>
							<button class="btn btn-primary" ng-disabled="curPage <= 0" ng-click="curPage = curPage - 1">&lt; PREV</button>
						</li>
						<li><input type="text" class="span2" style="width:50px; " value="{{curPage+1}}"> / <input type="text" class="span2" disabled="true" style="width:50px; " value="{{numberOfPages()}}"></li>
						<li>
							<button class="btn btn-primary" ng-disabled="curPage >= projectViews.length/pageSize - 1" ng-click="curPage = curPage+1">NEXT &gt;</button>
						</li>
					</ul>
				</div>
			</div>
			
			
		</div>



