<?php
session_start();
?>
	<script language="php">

		if(!isset($_SESSION['token'])){
			echo "<script>alert('허가되지 않은 접근입니다.')</script>";
			echo "<meta http-equiv='refresh' content='0;url=/'>";
			session_destroy();
			exit;
		}else if(isset($_SESSION['token']) && ($_SESSION['timeout'] + 10 * 60 < time()))
		{
			echo "<script>alert('장시간 응답이 없어 자동으로 로그아웃되었습니다.')</script>";
			echo "<meta http-equiv='refresh' content='0;url=/'>";
			session_destroy();
			exit;
		}
		$token = $_SESSION['token'];
		$id = $_SESSION['uid'];
		$realid = $_SESSION['realid'];
		$username = $_SESSION['username'];

		$_SESSION['timeout'] = time();
	</script>

   <script type="text/javascript">
      var token = '<?=$token?>';
      var id = '<?=$id?>';
      var realid = '<?=$realid?>';
      var username = '<?=$username?>';
   </script>
<!--
	
	PMS 페이지 뷰어
	
-->
		<link href="../css/mainbox.css" rel="stylesheet">
		<link href="../css/workbox.css" rel="stylesheet">
		<link href="../css/main-noticebox.css" rel="stylesheet">
		<link href="../css/transparent-breadcrumb.css" rel="stylesheet">
		<link href="../css/color-font.css" rel="stylesheet">



		
		<div class="mainbox" ng-controller="previewProjectCtrl">
			<div class="container" >
				<div class="workbox">
					<!-- BreadCrumb -->
					<ol class="breadcrumb">
						<li><a href="#pms">PMS</a></li>
						<li>{{PreviewProjectName}}</li>


					</ol>
				</div>
			</div>

			<div class="container">
				<div class="workbox">
					
					{{PreviewProjectMembers}}
					
				</div>
			</div>
			<div class="container">
				<div class="workbox" style="border:rgb(119, 108, 108) solid 1px; height: 300px;">
				{{PreviewProjectInfo}}
					
				</div>
				<div class="workbox">
					
					<ul class="list-inline" style="text-align:center;">
						<li style="width:100px; height:126px; padding-top:60px;">첨부파일</li>
						<li style="width:650px; vertical-align: middle;">
							<textarea class="forn-control" rows="6" style="width:500px;"></textarea>
						</li>
						<li style="width:250px; height:126px; padding-top:60px;">
							<button class="btn">다운로드</button>
						</li>
					</ul>
					
				</div>

			</div>


		</div>
