


<ul>
	<li style='display:inline-block; width:100px; padding-left:25px;'>
		<input type='checkbox' name='chk_project'>
	</li>
	<li style='display:inline-block; width:480px;' ng-click='printInfo({{project}})'>{{project.name}}</li>
	<li style='display:inline-block; width:250px;'>{{project.members}}</li>
	<li style='display:inline-block'>{{project.term}}</li>
</ul>
<hr style='margin-top:10px; margin-bottom:10px; border-top:2px solid gainsboro'/>

