<?php
session_start();
?>
<script language="php">
	if(!isset($_SESSION['token'])){
	echo "<script>alert('허가되지 않은 접근입니다.')</script>
";
echo "
<meta http-equiv='refresh' content='0;url=/'>
";
session_destroy();
exit;
}else if(isset($_SESSION['token']) && ($_SESSION['timeout'] + 10 * 60 < time()))
{
echo "
<script>
alert('장시간 응답이 없어 자동으로 로그아웃되었습니다.')
</script>
";
echo "
<meta http-equiv='refresh' content='0;url=/'>
";
session_destroy();
exit;
}
$token = $_SESSION['token'];
$id = $_SESSION['uid'];
$realid = $_SESSION['realid'];
$username = $_SESSION['username'];
$accountgrant = $_SESSION['accountgrant'];

$_SESSION['timeout'] = time();
</script>

<script type="text/javascript">
	var token = '<?=$token?>';
	var id = '<?=$id?>';
	var realid = '<?=$realid?>';
	var username = '<?=$username?>'; 
	var accountgrant = '<?=$accountgrant?>';
	
</script>
<!--
	
	프로젝트 등록 페이지 뷰어
	
-->
		<link href="../css/mainbox.css" rel="stylesheet">
		<link href="../css/workbox.css" rel="stylesheet">
		<link href="../css/main-noticebox.css" rel="stylesheet">
		<link href="../css/transparent-breadcrumb.css" rel="stylesheet">
		<link href="../css/color-font.css" rel="stylesheet">
		
		<link href="./bootstrap-3.0.0-dist/dist/css/datepicker.css" rel="stylesheet">	
		

		<div class="jumbotron" style="padding-top:30px; padding-bottom:2px; text-align:right; margin:auto;" ng-controller="SignOnController">
			<div class="container" style="width:1100px;">

				<ul>
					<li style="display:inline-block; text-align:center; width:250px">
						<h5>{{UserName}} 님 환영합니다.</h5>
					</li>
					<li style="display:inline-block; text-align:center; width:100px">

						<button type="button" class="btn btn-default" ng-click="logout()" style="padding-left:5px; padding-right:5px; padding-top:5px; padding-bottom:5px;"><span style="font-size:20px;">Logout</span></button>
					</li>
				</ul>
			</div>
		</div>
		
		
		
		<div class="mainbox" ng-controller="registerProjectCtrl">
			<div class="container" >
				<div class="workbox">
					<!-- BreadCrumb -->
					<ol class="breadcrumb">
						<li><a href="#pms">PMS</a></li>
						<li>프로젝트 등록</li>
					</ol>
				</div>
			</div>

			<div class="container">
				<div class="workbox">
					<table class="table">
						<tbody>
							<tr>
								<td style="width:150px;"><p class="text-center" style="margin-bottom:5px; padding-top:5px;">제목</p></td>
								<td><input type="text" class="form-control" id="projectNameTextBox" placeholder="프로젝트 이름을 입력하세요." style="width:500px;"></td>
							</tr>
							<tr>
								<td style="width:150px;"><p class="text-center" style="margin-bottom:5px; padding-top:5px;">기간</p></td>
								<td>
									<ul class="list-inline">
										<li style="padding-left:0px;">
											<input type="text" id="beginDateForm" readonly class="form-control form_datetime">
										</li>
										<li style="padding-left:0px;"> ~ </li>
										<li style="padding-left:0px;"><input type="text" id="endDateForm" readonly class="form-control form_datetime"></li>
									</ul>
								</td>
							</tr>
							<tr>
								<td style="width:150px;"><p class="text-center" style="margin-bottom:5px; padding-top:5px; ">팀원</p></td>
								<td>
									<ul class="list-inline">
										<li style="padding-left:0px;"><input type="text" id="teamMemberInputForm" class="form-control" placeholder="팀원을 추가하세요." style="width:500px;"></li>
										<li><button type="button" class="btn btn-default" data-toggle="modal" data-target="#searchMemberModal" ><span class="glyphicon glyphicon-search"></span></button></li>
									</ul>
								</td>
							</tr>
							<tr>
								<td style="width:150px;"><p class="text-center" style="margin-bottom:5px; padding-top:5px; ">팀장</p></td>
								<td>
									<ul class="list-inline">
										<li style="padding-left:0px;"><input type="text" id="teamLeaderInputForm" class="form-control" placeholder="팀장을 추가하세요." style="width:500px;"></li>
										<li><button type="button" class="btn btn-default" data-toggle="modal" data-target="#searchLeaderModal" ><span class="glyphicon glyphicon-search"></span></button></li>
									</ul>
								</td>
							</tr>
							<tr>
								<td style="width:150px;"><p class="text-center" style="padding-top:10px;">소개</p></td>
								<td><textarea class="form-control" id="projectInfoTextArea" rows="3" placeholder="프로젝트를 요약해주세요."></textarea></td>
							</tr>
							<tr>
								<td style="width:150px;"><p class="text-center" style="padding-top:10px;">평가 비율</p></td>
								<td>
									<ul class="list-inline">
										<li>창의성</li>
										<li>
											<select class="form-control" id="creative_rate_select">
												<option>15</option>
												<option>20</option>
												<option>25</option>
												<option>30</option>
												<option>35</option>
											</select>
										</li>
										<li>활용성</li>
										<li>
											<select class="form-control" id="useful_rate_select">
												<option>15</option>
												<option>20</option>
												<option>25</option>
												<option>30</option>
												<option>35</option>
											</select>
										</li>
										<li>기술력</li>
										<li>
											<select class="form-control" id="technical_rate_select">
												<option>15</option>
												<option>20</option>
												<option>25</option>
												<option>30</option>
												<option>35</option>
											</select>
										</li>
										<li>준비/완성도</li>
										<li>
											<select class="form-control" id="successful_rate_select">
												<option>25</option>
											</select>
										</li>
									</ul>
								</td>
							</tr>
							<tr>
								<td style="width:150px;"><p class="text-center" style="margin-bottom:5px; padding-top:10px;">첨부파일</p></td>
								<td>
									
									<div class="panel" style="border: 1px #e4e4e4 solid; border-radius: 4px; background:#fff; width:420px; margin-bottom:5px; height:80px; overflow:auto;">
										<ul class="list-group" >
											<!-- 이부분 디렉티브로 바꿔서 달 것. -->

											<attached-file-records></attached-file-records>
										</ul>
									</div>
									
									<!-- <button class="btn btn-default" >파일 업로드</button> -->
									<input type="file" ng-file-select="uploadFile($files)" > <!-- ng-file-select="uploadProjectFile($files)" -->
								</td>
							</tr>
						</tbody>
					</table>
					<ul class="list-inline" style="text-align:center; ">
						<li>
							<button class="btn btn-success" ng-click="clickRegister($files)">등록</button>
						</li>
						<li>
							<button class="btn btn-default" ng-click="clickPreview()">미리보기</button>
						</li>
						<li>
							<button class="btn btn-default" ng-click="clickCancel()">취소</button>
						</li>
					</ul>
				</div>
			</div>

		</div>
		

<div class="modal fade" id="searchMemberModal" ng-controller="registerMemberCtrl">
	<div class="modal-dialog" ng-init="SearchMembers()">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="modal-title">팀원을 추가해주세요.</h3>
			</div>
			<div class="modal-body">
				<p>
					<ul class="list-inline">
						<li>
							<input type="text" id="addQueue" class="form-control" readonly="true">
						</li>
						<li>
							<input type="text" class="form-control" data-ng-model="searchKeyword">
						</li>
						<li>
							<button class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
						</li>
					</ul>
					
				</p>
				<table class="table">
					<thead>
						<th>
							이름
						</th>
						<th>
							기수
						</th>
					</thead>
					<tbody>
						<tr ng-repeat="member in undoMembers | filter:searchKeyword" >
							<!-- <td>{{$index}}</td> -->
							<td ng-click="appendTeamMembers($event, $index)">{{member.username}}</td>
							<td>{{member.entered}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" ng-click="applyAppendings()" data-dismiss="modal">Apply</button>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="searchLeaderModal" ng-controller="registerLeaderCtrl">
	<div class="modal-dialog" ng-init="SearchLeader()">
		<div class="modal-content" >
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="modal-title">팀장을 선택해주세요.</h3>
			</div>
			<div class="modal-body">
				<table class="table">
					<thead>
						<th>
							이름
						</th>
						<th>
							기수
						</th>
					</thead>
					<tbody>
						<tr ng-repeat="member in members | filter:searchKeyword" >
							<td style="vertical-align: middle;">{{member.username}}</td>
							<td style="vertical-align: middle;">{{member.entered}}</td>
							<td><button type="button" class="btn btn-default" ng-click="applySelecting($index)" data-dismiss="modal"><span class="glyphicon glyphicon-ok"></span></button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

