<?php
session_start();
?>
<script language="php">
	if(!isset($_SESSION['token'])){
	echo "<script>alert('허가되지 않은 접근입니다.')</script>
";
echo "
<meta http-equiv='refresh' content='0;url=/'>
";
session_destroy();
exit;
}else if(isset($_SESSION['token']) && ($_SESSION['timeout'] + 10 * 60 < time()))
{
echo "
<script>
alert('장시간 응답이 없어 자동으로 로그아웃되었습니다.')
</script>
";
echo "
<meta http-equiv='refresh' content='0;url=/'>
";
session_destroy();
exit;
}
$token = $_SESSION['token'];
$id = $_SESSION['uid'];
$realid = $_SESSION['realid'];
$username = $_SESSION['username'];
$accountgrant = $_SESSION['accountgrant'];

$_SESSION['timeout'] = time();
</script>

<script type="text/javascript">
	var token = '<?=$token?>';
	var id = '<?=$id?>';
	var realid = '<?=$realid?>';
	var username = '<?=$username?>'; 
	var accountgrant = '<?=$accountgrant?>';
	
</script>
<!--
	
	PMS 페이지 뷰어
	
-->
		<link href="../css/mainbox.css" rel="stylesheet">
		<link href="../css/workbox.css" rel="stylesheet">
		<link href="../css/main-noticebox.css" rel="stylesheet">
		<link href="../css/transparent-breadcrumb.css" rel="stylesheet">
		<link href="../css/color-font.css" rel="stylesheet">
		
		
		
		
		<div class="mainbox" ng-controller="selectProjectCtrl">
			<div class="container">
				<div class="workbox">
					<!-- BreadCrumb -->
					<ol class="breadcrumb">
						<li><a href="#pms">PMS</a></li>
						<li>{{ProjectName}}</li>


					</ol>
				</div>
				<div class="workbox">
					<ul class="nav nav-tabs">
						<li role="presentation" ><a href="#pms/{{projectid}}">소개</a></li>
						<li role="presentation" class="active"><a href="#pms/{{projectid}}/Eval">평가</a></li>
						<li role="presentation" ><a href="#pms/{{projectid}}/Result">결과</a></li>
					</ul>
				</div>
			</div>


			<div class="container" ng-controller="selectProjectEvalCtrl">
				<div class="workbox">
					<div class="panel panel-heading" style="margin-bottom:1px; box-shadow:2px 2px 2px 0px gray;" ng-click="expandBeginEval = !expandBeginEval" ng-mouseover="mhoverpanel()" ng-mouseleave="mleavepanel()">
						<ul class="list-inline" style="margin-top:5px; margin-bottom:5px;">
							<li style="width:1000px;" style="padding-top:5px; padding-bottom:5px;">
							<div class="panel-body" style="padding-top:5px; padding-bottom:5px;">
								시작 발표 평가
							</div>
							</li>
							<li>
								<span class="caret"></span>
							</li>
						</ul>
					</div>
					<div class="workbox" ng-show="expandBeginEval" style="padding-top:1px;">
						<div class="panel panel-default">
							<table class="table" style="width:95%;" >
								<thead>
									<th style="width:100px; text-align:center;">창의성</th>
									<th style="width:100px; text-align:center;">활용성</th>
									<th style="width:100px; text-align:center;">기술력</th>
									<th style="width:120px; text-align:center;">준비성</th>
									<th style="width:600px; text-align:center;">피드백</th>
									<th style="width:100px; text-align:center;">등록</th>
								</thead>
								<tbody>
									<tr>
										<td style="text-align:center; vertical-align: middle;">
											<select class="form-control" id="creativeBeginEvalSelect">
												<option>1</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
												<option>6</option>
												<option>7</option>
												<option>8</option>
												<option>9</option>
												<option>10</option>
											</select>
										</td>
										<td style="text-align:center; vertical-align: middle;">
											<select class="form-control" id="usefulBeginEvalSelect">
												<option>1</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
												<option>6</option>
												<option>7</option>
												<option>8</option>
												<option>9</option>
												<option>10</option>
											</select>
										</td>
										<td style="text-align:center; vertical-align: middle;">
											<select class="form-control" id="technicalBeginEvalSelect">
												<option>1</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
												<option>6</option>
												<option>7</option>
												<option>8</option>
												<option>9</option>
												<option>10</option>
											</select>
										</td>
										<td style="text-align:center; vertical-align: middle;">
											<select class="form-control" id="successfulBeginEvalSelect">
												<option>1</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
												<option>6</option>
												<option>7</option>
												<option>8</option>
												<option>9</option>
												<option>10</option>
											</select>
										</td>
										<td style="text-align:center; vertical-align: middle;">
											<textarea class="form-control" id="feedbackBeginText" rows="2" placeholder="단답형은 지양하고 건강한 피드백을 주세요."></textarea>
										</td>
										<td style="text-align:center; vertical-align: middle; margin-left:10px;">
											<button class="btn btn-primary" ng-click="registerFeedback(0)">등록</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="workbox">
					
					<div class="panel panel-heading" style="margin-bottom:1px; box-shadow:2px 2px 2px 0px gray;" ng-click="expandMiddleEval = !expandMiddleEval" ng-mouseover="mhoverpanel()" ng-mouseleave="mleavepanel()">
						<ul class="list-inline" style="margin-top:5px; margin-bottom:5px;">
							<li style="width:1000px;" style="padding-top:5px; padding-bottom:5px;">
							<div class="panel-body" style="padding-top:5px; padding-bottom:5px;">
								중간 발표 평가
							</div>
							</li>
							<li>
								<span class="caret"></span>
							</li>
						</ul>
					</div>
					<div class="workbox" ng-show="expandMiddleEval" style="padding-top:1px;">
						<div class="panel panel-default">
								<table class="table" style="width:95%;" >
									<thead>
										<th style="width:100px; text-align:center;">창의성</th>
										<th style="width:100px; text-align:center;">활용성</th>
										<th style="width:100px; text-align:center;">기술력</th>
										<th style="width:120px; text-align:center;">진행도</th>
										<th style="width:600px; text-align:center;">피드백</th>
										<th style="width:100px; text-align:center;">등록</th>
									</thead>
									<tbody>
										<tr>
											<td style="text-align:center; vertical-align: middle;">
												<select class="form-control" id="creativeMiddleEvalSelect">
													<option>1</option>
													<option>2</option>
													<option>3</option>
													<option>4</option>
													<option>5</option>
													<option>6</option>
													<option>7</option>
													<option>8</option>
													<option>9</option>
													<option>10</option>
												</select>
											</td>
											<td style="text-align:center; vertical-align: middle;">
												<select class="form-control" id="usefulMiddleEvalSelect">
													<option>1</option>
													<option>2</option>
													<option>3</option>
													<option>4</option>
													<option>5</option>
													<option>6</option>
													<option>7</option>
													<option>8</option>
													<option>9</option>
													<option>10</option>
												</select>
											</td>
											<td style="text-align:center; vertical-align: middle;">
												<select class="form-control" id="technicalMiddleEvalSelect">
													<option>1</option>
													<option>2</option>
													<option>3</option>
													<option>4</option>
													<option>5</option>
													<option>6</option>
													<option>7</option>
													<option>8</option>
													<option>9</option>
													<option>10</option>
												</select>
											</td>
											<td style="text-align:center; vertical-align: middle;">
												<select class="form-control" id="successfulMiddleEvalSelect">
													<option>1</option>
													<option>2</option>
													<option>3</option>
													<option>4</option>
													<option>5</option>
													<option>6</option>
													<option>7</option>
													<option>8</option>
													<option>9</option>
													<option>10</option>
												</select>
											</td>
											<td style="text-align:center; vertical-align: middle;">
												<textarea class="form-control" id="feedbackMiddleText" rows="2" placeholder="단답형은 지양하고 건강한 피드백을 주세요."></textarea>
											</td>
											<td style="text-align:center; vertical-align: middle; margin-left:10px;">
												<button class="btn btn-primary" ng-click="registerFeedback(1)">등록</button>
											</td>
										</tr>
									</tbody>
								</table>
						</div>
					</div>	
				</div>
				
				<div class="workbox">
					<div class="panel panel-heading" style="margin-bottom:1px; box-shadow:2px 2px 2px 0px gray;" ng-click="expandEndEval = !expandEndEval" ng-mouseover="mhoverpanel()" ng-mouseleave="mleavepanel()">
						<ul class="list-inline" style="margin-top:5px; margin-bottom:5px;">
							<li style="width:1000px;" style="padding-top:5px; padding-bottom:5px;">
							<div class="panel-body" style="padding-top:5px; padding-bottom:5px;">
								완료 발표 평가
							</div>
							</li>
							<li>
								<span class="caret"></span>
							</li>
						</ul>
					</div>
					<div class="workbox" ng-show="expandEndEval" style="padding-top:1px;">
						<div class="panel panel-default">
								<table class="table" style="width:95%;" >
									<thead>
										<th style="width:100px; text-align:center;">창의성</th>
										<th style="width:100px; text-align:center;">활용성</th>
										<th style="width:100px; text-align:center;">기술력</th>
										<th style="width:120px; text-align:center;">완성도</th>
										<th style="width:600px; text-align:center;">피드백</th>
										<th style="width:100px; text-align:center;">등록</th>
									</thead>
									<tbody>
										<tr>
											<td style="text-align:center; vertical-align: middle;">
												<select class="form-control" id="creativeEndEvalSelect">
													<option>1</option>
													<option>2</option>
													<option>3</option>
													<option>4</option>
													<option>5</option>
													<option>6</option>
													<option>7</option>
													<option>8</option>
													<option>9</option>
													<option>10</option>
												</select>
											</td>
											<td style="text-align:center; vertical-align: middle;">
												<select class="form-control" id="usefulEndEvalSelect">
													<option>1</option>
													<option>2</option>
													<option>3</option>
													<option>4</option>
													<option>5</option>
													<option>6</option>
													<option>7</option>
													<option>8</option>
													<option>9</option>
													<option>10</option>
												</select>
											</td>
											<td style="text-align:center; vertical-align: middle;">
												<select class="form-control" id="technicalEndEvalSelect">
													<option>1</option>
													<option>2</option>
													<option>3</option>
													<option>4</option>
													<option>5</option>
													<option>6</option>
													<option>7</option>
													<option>8</option>
													<option>9</option>
													<option>10</option>
												</select>
											</td>
											<td style="text-align:center; vertical-align: middle;">
												<select class="form-control" id="successfulEndEvalSelect">
													<option>1</option>
													<option>2</option>
													<option>3</option>
													<option>4</option>
													<option>5</option>
													<option>6</option>
													<option>7</option>
													<option>8</option>
													<option>9</option>
													<option>10</option>
												</select>
											</td>
											<td style="text-align:center; vertical-align: middle;">
												<textarea class="form-control" id="feedbackEndText" rows="2" placeholder="단답형은 지양하고 건강한 피드백을 주세요."></textarea>
											</td>
											<td style="text-align:center; vertical-align: middle; margin-left:10px;">
												<button class="btn btn-primary" ng-click="registerFeedback(2)">등록</button>
											</td>
										</tr>
									</tbody>
								</table>
						</div>
					</div>
				</div>
							
							
			</div>

			</div>


		</div>
