<?php
session_start();
?>
<script language="php">
	if(!isset($_SESSION['token'])){
	echo "<script>alert('허가되지 않은 접근입니다.')</script>
";
echo "
<meta http-equiv='refresh' content='0;url=/'>
";
session_destroy();
exit;
}else if(isset($_SESSION['token']) && ($_SESSION['timeout'] + 10 * 60 < time()))
{
echo "
<script>
alert('장시간 응답이 없어 자동으로 로그아웃되었습니다.')
</script>
";
echo "
<meta http-equiv='refresh' content='0;url=/'>
";
session_destroy();
exit;
}
$token = $_SESSION['token'];
$id = $_SESSION['uid'];
$realid = $_SESSION['realid'];
$username = $_SESSION['username'];
$accountgrant = $_SESSION['accountgrant'];

$_SESSION['timeout'] = time();
</script>

<script type="text/javascript">
	var token = '<?=$token?>';
	var id = '<?=$id?>';
	var realid = '<?=$realid?>';
	var username = '<?=$username?>'; 
	var accountgrant = '<?=$accountgrant?>';
	
</script>
<!--
	
	PMS 페이지 뷰어
	
-->

		<link href="../css/mainbox.css" rel="stylesheet">
		<link href="../css/workbox.css" rel="stylesheet">
		<link href="../css/main-noticebox.css" rel="stylesheet">
		<link href="../css/transparent-breadcrumb.css" rel="stylesheet">
		<link href="../css/color-font.css" rel="stylesheet">
	
		
		<div class="mainbox" ng-controller="selectProjectCtrl">
			<div class="container" ng-init="loadProjectInfo()">
				<div class="workbox">
					<!-- BreadCrumb -->
					<ol class="breadcrumb">
						<li><a href="#pms">PMS</a></li>
						<li>{{ProjectName}}</li>


					</ol>
				</div>
				<div class="workbox">
					<ul class="nav nav-tabs">
						<li role="presentation" class="active"><a href="#pms/{{projectid}}">소개</a></li>
						<li role="presentation" ><a href="#pms/{{projectid}}/Eval">평가</a></li>
						<li role="presentation" ><a href="#pms/{{projectid}}/Result">결과</a></li>
					</ul>
				</div>
			</div>


			<div class="container">
				
				<table class="table">
					<tr>
						<td style="vertical-align: middle;">팀원  </td>
						<td>{{ProjectMembers}}</td>
					</tr>
					<tr>
						<td style="vertical-align: middle;">진행 기간</td>
						<td>{{ProjectTerm}}</td>
					</tr>
					<tr style="height:150px;">
						<td style="vertical-align: middle;">과제 소개  </td>
						<td>
							{{ProjectSummary}}
						</td>
					</tr>
					<tr>
						<td style="vertical-align: middle;">평가 비율</td>
						<td>
							<ul class="list-inline">
								<li style="width:130px; text-align:center;"><h4>창의성</h4></li>
								<li style="width:50px; text-align:center; background:whitesmoke; box-shadow: 2px 2px 2px 0px gray; border-radius: 10px;"><h5>{{ProjectCreativeRatio}}</h5></li>
								<li style="width:130px; text-align:center;"><h4>활용성</h4></li>
								<li style="width:50px; text-align:center; background:whitesmoke; box-shadow: 2px 2px 2px 0px gray; border-radius: 10px;"><h5>{{ProjectUsefulRatio}}</h5></li>
								<li style="width:130px; text-align:center;"><h4>기술력</h4></li>
								<li style="width:50px; text-align:center; background:whitesmoke; box-shadow: 2px 2px 2px 0px gray; border-radius: 10px;"><h5>{{ProjectTechnicalRatio}}</h5></li>
								<li style="width:140px; text-align:center;"><h4>준비 / 완성도</h4></li>
								<li style="width:50px; text-align:center; background:whitesmoke; box-shadow: 2px 2px 2px 0px gray; border-radius: 10px;"><h5>{{ProjectSuccessfulRatio}}</h5></li>
							</ul>
						</td>
					</tr>
					<tr>
						<td style="vertical-align: middle;">배심원 신청</td>
						<td>
							<ul class="list-inline">
								<li>
									<button class="btn btn-success" ng-click="askJuror(0)">시작 발표 <span class="glyphicon glyphicon-user" style="padding-left:10px;"></span></button>
								</li>
								<li>
									<button class="btn btn-success" ng-click="askJuror(1)">중간 발표 <span class="glyphicon glyphicon-user" style="padding-left:10px;"></span></button>
								</li>
								<li>
									<button class="btn btn-success" ng-click="askJuror(2)">완료 발표 <span class="glyphicon glyphicon-user" style="padding-left:10px;"></span></button>
								</li>
							</ul>
						</td>
					</tr>
					<tr>
						<td style="vertical-align: middle;">첨부파일</td>
						<td>
							<ul class="list-unstyled">
								<li>
									<ul class="list-unstyled" ng-repeat="attachedfile in attachedfiles">
										<li></li>
									</ul>
								</li>
								<li>
									<ul class="list-inline">
										<li>
											<button class="btn btn-primary" style="width:200px; margin-top:5px;">다운로드</button>
										</li>
									</ul>
								</li>
							</ul>
						</td>
					</tr>
				</table>
				<div class="workbox">
					<ul class="list-inline" style="padding-left:400px;">
						<li><button class="btn" style="background-color: ghostwhite; width:150px;" ng-click="editProject()">수정</button></li>
						<li><button class="btn" style="background-color: ghostwhite; width:150px;" ng-click="removeProject()">삭제</button></li>
					</ul>
				</div>
			</div>
		</div>


