<?php
session_start();
?>
<script language="php">
	if(!isset($_SESSION['token'])){
	echo "<script>alert('허가되지 않은 접근입니다.')</script>
";
echo "
<meta http-equiv='refresh' content='0;url=/'>
";
session_destroy();
exit;
}else if(isset($_SESSION['token']) && ($_SESSION['timeout'] + 10 * 60 < time()))
{
echo "
<script>
alert('장시간 응답이 없어 자동으로 로그아웃되었습니다.')
</script>
";
echo "
<meta http-equiv='refresh' content='0;url=/'>
";
session_destroy();
exit;
}
$token = $_SESSION['token'];
$id = $_SESSION['uid'];
$realid = $_SESSION['realid'];
$username = $_SESSION['username'];
$accountgrant = $_SESSION['accountgrant'];

$_SESSION['timeout'] = time();
</script>

<script type="text/javascript">
	var token = '<?=$token?>';
	var id = '<?=$id?>';
	var realid = '<?=$realid?>';
	var username = '<?=$username?>'; 
	var accountgrant = '<?=$accountgrant?>';
	
</script>
<!--
	
	PMS 페이지 뷰어
	
-->

		<link href="../css/mainbox.css" rel="stylesheet">
		<link href="../css/workbox.css" rel="stylesheet">
		<link href="../css/main-noticebox.css" rel="stylesheet">
		<link href="../css/transparent-breadcrumb.css" rel="stylesheet">
		<link href="../css/color-font.css" rel="stylesheet">
		

		
		<div class="mainbox" ng-controller="selectProjectCtrl">
			<div class="container" >
				<div class="workbox">
					<!-- BreadCrumb -->
					<ol class="breadcrumb">
						<li><a href="#pms">PMS</a></li>
						<li>{{ProjectName}}</li>


					</ol>
				</div>
				<div class="workbox">
					<ul class="nav nav-tabs">
						<li role="presentation" ><a href="#pms/{{projectid}}">소개</a></li>
						<li role="presentation" ><a href="#pms/{{projectid}}/Eval">평가</a></li>
						<li role="presentation" class="active"><a href="#pms/{{projectid}}/Result">결과</a></li>
					</ul>
				</div>
			</div>

			<div class="container" ng-controller="selectProjectResultCtrl">

				<div class="workbox">
					
					<div class="container">
					
						<div class="workbox">
							
							<h2 id="blackh2" ng-click="clickBeginEvals()" ng-mouseover="mhoverBeginEvals()" ng-mouseleave="mleaveBeginEvals()"><span id="beginEvalSpan">시작 과제평가</span></h2><hr style="border:rgb(179, 177, 189) solid 2px;"/>
							<ul class="list-inline">
								<li style="width:200px;">
									<h3 style="color: #7096B6; ">
										배심원
									</h3>
								</li>
								<li style="width:800px; padding-left:15px;">
									<!-- 배심원 수만큼 루프를 반복 -->
									<ul class="list-inline">
										<li ng-repeat="juror in beginJurors"><juror-icon ng-click="deleteBeginJuror($index)"></juror-icon></li>
									</ul>
								</li>
								<li style="width:50px;">
									<button class="btn btn-default" style="padding-left:10px; padding-right:10px; background:transparent; border:0px;" data-toggle="modal" data-target="#editJurorModal" ng-click="setJurorFlag(0)">
									<span class="glyphicon glyphicon-cog"></span>
								</li>
							</ul>
					</div>

					<div class="workbox" ng-show="showBeginEvals">
						<ul class="list-unstyled" ng-repeat="pmseval in beginevals">
							<li><pms-evaluations></pms-evaluations></li>
						</ul>
					</div>
					
					<div class="workbox">
					<h2 id="blackh2" ng-click="clickMiddleEvals()" ng-mouseover="mhoverMiddleEvals()" ng-mouseleave="mleaveMiddleEvals()"><span id="middleEvalSpan">중간 과제평가</span></h2><hr style="border:rgb(179, 177, 189) solid 2px;"/>
					
							<ul class="list-inline">
								<li style="width:200px;">
									<h3 style="color: #7096B6; ">
										배심원
									</h3>
								</li>
								<li style="width:800px; padding-left:15px;">
									<!-- 배심원 수만큼 루프를 반복 -->
									<ul class="list-inline">
										<li ng-repeat="juror in middleJurors"><juror-icon ng-click="deleteMiddleJuror($index)"></juror-icon></li>
									</ul>
								</li>
								<li style="width:50px;">
									<button class="btn btn-default" style="padding-left:10px; padding-right:10px; background:transparent; border:0px;" data-toggle="modal" data-target="#editJurorModal" ng-click="setJurorFlag(1)">
									<span class="glyphicon glyphicon-cog"></span>
								</li>
							</ul>					

						<div class="workbox" ng-show="showMiddleEvals">
							<ul class="list-unstyled" ng-repeat="pmseval in middleevals">
								<li><pms-evaluations></pms-evaluations></li>
							</ul>
						</div>
					</div>


					<div class="workbox">
						<h2 id="blackh2" ng-click="clickEndEvals()" ng-mouseover="mhoverEndEvals()" ng-mouseleave="mleaveEndEvals()"><span id="endEvalSpan">완료 과제평가</span></h2><hr style="border:rgb(179, 177, 189) solid 2px;"/>
					
							<ul class="list-inline">
								<li style="width:200px;">
									<h3 style="color: #7096B6; ">
										배심원
									</h3>
								</li>
								<li style="width:800px; padding-left:15px;">
									<!-- 배심원 수만큼 루프를 반복 -->
									<ul class="list-inline">
										<li ng-repeat="juror in endJurors"><juror-icon ng-click="deleteEndJuror($index)"></juror-icon></li>
									</ul>
								</li>
								<li style="width:50px;">
									<button class="btn btn-default" style="padding-left:10px; padding-right:10px; background:transparent; border:0px;" data-toggle="modal" data-target="#editJurorModal" ng-click="setJurorFlag(2)">
									<span class="glyphicon glyphicon-cog"></span>
								</li>
							</ul>					

						<div class="workbox" ng-show="showEndEvals">
							<ul class="list-unstyled" ng-repeat="pmseval in endevals">
								<li><pms-evaluations></pms-evaluations></li>
							</ul>
						</div>
					</div>

				</div>
			</div>

		</div>


<!-- Configuration Modal -->

<div class="modal fade" id="editJurorModal" ng-controller="editProjectJurorCtrl">
	<div class="modal-dialog" ng-init="showMembers()">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="modal-title">배심원 관리</h3>
			</div>
			<div class="modal-body">
					<div>
							<ul class="list-inline">
								<li ng-repeat="juror in evalJurors"><juror-icon ng-click="deleteModalJuror($index)"></juror-icon></li>
							</ul>
					</div>
					<ul class="list-inline">
						<li>
							<input type="text" class="form-control" data-ng-model="searchKeyword">
						</li>
						<li>
							<button class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
						</li>
					</ul>
				<table class="table">
					<thead>
						<th>선택</th>
						<th>이름</th>
						<th>기수</th>
					</thead>
					<tbody>
						<tr ng-repeat="member in members | filter:searchKeyword | orderBy:member.username" >
							<td style="padding-left:15px;"><input type="checkbox" name="jurorCheckBox" ng-click="memberCheck($index)"></td>
							<td >{{member.username}}</td>
							<td>{{member.entered}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" ng-click="applyAppendings()" data-dismiss="modal">Apply</button>
			</div>
		</div>
	</div>
</div>

