

<ul class="list-inline" style="text-align:center;">
	<li style="width:220px;">{{sig.signame}}</li>
	<li style="width:600px;">{{sig.siginfo}}</li>
	<li style="width:200px;">{{sig.sigmaster}}</li>
</ul>
