<?php
session_start();
?>
<script language="php">
	if(!isset($_SESSION['token'])){
	echo "<script>alert('허가되지 않은 접근입니다.')</script>
";
echo "
<meta http-equiv='refresh' content='0;url=/'>
";
session_destroy();
exit;
}else if(isset($_SESSION['token']) && ($_SESSION['timeout'] + 10 * 60 < time()))
{
echo "
<script>
alert('장시간 응답이 없어 자동으로 로그아웃되었습니다.')
</script>
";
echo "
<meta http-equiv='refresh' content='0;url=/'>
";
session_destroy();
exit;
}
$token = $_SESSION['token'];
$id = $_SESSION['uid'];
$realid = $_SESSION['realid'];
$username = $_SESSION['username'];
$accountgrant = $_SESSION['accountgrant'];

$_SESSION['timeout'] = time();
</script>

<script type="text/javascript">
	var token = '<?=$token?>';
	var id = '<?=$id?>';
	var realid = '<?=$realid?>';
	var username = '<?=$username?>'; 
	var accountgrant = '<?=$accountgrant?>';
	
</script>
<!--
	
	PMS 페이지 뷰어
	
-->


		<link href="../css/mainbox.css" rel="stylesheet">
		<link href="../css/workbox.css" rel="stylesheet">
		<link href="../css/main-noticebox.css" rel="stylesheet">
		<link href="../css/transparent-breadcrumb.css" rel="stylesheet">



		<div class="jumbotron" style="padding-top:30px; padding-bottom:2px; text-align:right; margin:auto;" ng-controller="SignOnController">
			<div class="container" style="width:1100px;">

				<ul>
					<li style="display:inline-block; text-align:center; width:250px">
						<h5>{{UserName}} 님 환영합니다.</h5>
					</li>
					<li style="display:inline-block; text-align:center; width:100px">

						<button type="button" class="btn btn-default" ng-click="logout()" style="padding-left:5px; padding-right:5px; padding-top:5px; padding-bottom:5px;"><span style="font-size:20px;">Logout</span></button>
					</li>
				</ul>
			</div>
		</div>

		<div class="mainbox" ng-controller="sigListingCtrl">
			<div class="container">
				<div class="workbox">
					<!-- BreadCrumb -->
					<ol class="breadcrumb">
						<li><a href="#sig">SIG</a></li>

					</ol>
				</div>
			</div>
			<div class="container" style="width:1170px;">
				<h2 id="grayh2">참여중인 SIG</h2>
				<p></p>
			</div>
			<div class="container" style="width:1170px;">
				<div class="workbox">
					<div class="container" >
						<ul >
						<li style="display:inline-block; width:175px; text-align:center; "><h4><b>시그명</b></h4></l>
						<li style="display:inline-block; width:610px; text-align:center; "><h4><b>시그 설명</b></h4></li>
						<li style="display:inline-block; width:180px; text-align:center; "><h4><b>시그장</b></h4></li>
						</ul>
						<hr style="border-color:lightgrey; margin:auto; width:1090px;"/>
						
						<!-- 집에서 추가한 게시판 리스팅 부분. -->
						<!-- 위와 같이 하면 컴파일 타이밍이 안맞아서인지 아예 표시가 안된다. -->
						<div ng-repeat="sig in mysigs" style="margin-top:10px; margin-bottom:10px;">
							<sig-lists></sig-lists>
						</div>
					
					</div>
					
				</div>
			</div>
			<div class="container" style="width: 1170px;" >
				<div class="workbox" >

					<ul class="pager" >
						<li><a href="#">&lt; Prev</a></li>
						<li><input type="text" class="span2" style="width:50px; "> / <input type="text" class="span2" disabled="true" style="width:50px; "></li>
						<li><a href="#">Next &gt;</a></li>
					</ul>
				</div>
			</div>
			
			<div class="container" style="width:1170px;">
				<h2 id="grayh2">전체 SIG 목록</h2>
				<p></p>
			</div>
			
			<div class="container" style="width:1170px;">
				<div class="workbox">
					<div class="container" >
						<ul >
						<li style="display:inline-block; width:175px; text-align:center; "><h4><b>시그명</b></h4></l>
						<li style="display:inline-block; width:610px; text-align:center; "><h4><b>시그 설명</b></h4></li>
						<li style="display:inline-block; width:180px; text-align:center; "><h4><b>시그장</b></h4></li>
						</ul>
						<hr style="border-color:lightgrey; margin:auto; width:1090px;"/>
						
						<!-- 집에서 추가한 게시판 리스팅 부분. -->
						<!-- 위와 같이 하면 컴파일 타이밍이 안맞아서인지 아예 표시가 안된다. -->
						<div ng-repeat="sig in allsigs" style="margin-top:10px; margin-bottom:10px;">
							<sig-lists></sig-lists>
						</div>
					
					</div>
					
				</div>
			</div>
			<div class="container" style="width: 1170px;" >
				<div class="workbox" >

					<ul class="pager" >
						<li><a href="#">&lt; Prev</a></li>
						<li><input type="text" class="span2" style="width:50px; "> / <input type="text" class="span2" disabled="true" style="width:50px; "></li>
						<li><a href="#">Next &gt;</a></li>
					</ul>
				</div>
			</div>
						
			
		</div>

