


<ul >
	<li style='display:inline-block; width:120px; text-align: center;' >{{boardmessage.number}}</li>
	<li style='display:inline-block; width:530px; padding-left:30px;'>{{boardmessage.context}}</li>
	<li style='display:inline-block; width:180px; text-align: center;'>{{boardmessage.writer}}</li>
	<li style='display:inline-block; width:200px; text-align: center; padding-left:10px;'>{{boardmessage.due}}</li>
</ul>
<hr style='margin-top:10px; margin-bottom:10px; border-top:2px solid gainsboro'/>

