
<!--
	
	프로젝트 등록 페이지 뷰어
	
-->


		<link href="../css/mainbox.css" rel="stylesheet">
		<link href="../css/workbox.css" rel="stylesheet">
		<link href="../css/transparent-breadcrumb.css" rel="stylesheet">
		<link href="../css/color-font.css" rel="stylesheet">
	
	
		<div class="jumbotron" style="padding-top:30px; padding-bottom:2px; text-align:right; margin:auto;" ng-controller="SignOnController">
			<div class="container" style="width:1100px;">

				<ul>
					<li style="display:inline-block; text-align:center; width:250px">
						<h5>{{UserName}} 님 환영합니다.</h5>
					</li>
					<li style="display:inline-block; text-align:center; width:100px">

						<button type="button" class="btn btn-default" ng-click="logout()" style="padding-left:5px; padding-right:5px; padding-top:5px; padding-bottom:5px;"><span style="font-size:20px;">Logout</span></button>
					</li>
				</ul>
			</div>
		</div>
		
		<div class="mainbox" >
			<div class="container" ng-controller="sigboardRegisterMessageCtrl" >
				<div class="workbox">
					<!-- BreadCrumb -->
					<ol class="breadcrumb">
						<li><a href="#sig">SIG</a></li>
						<li><a href="#sig/sigboard">{{SigName}}</a></li>
						<li>게시글 등록</li>
					</ol>
				</div>
			</div>

			<div class="container">
				<div class="workbox">
					<table class="table">
						<tbody>
							<tr>
								<td style="width:150px;"><p class="text-center" style="margin-bottom:5px; padding-top:5px;">제목</p></td>
								<td><input type="text" class="form-control" placeholder="Input the Project Name" style="width:500px;"></td>
							</tr>
							<tr>
								<td style="width:150px;"><p class="text-center" style="margin-bottom:5px; padding-top:5px; ">팀원</p></td>
								<td><input type="text" class="form-control" placeholder="Team members" style="width:500px;"></td>
							</tr>
							<tr>
								<td style="width:150px;"><p class="text-center" style="padding-top:10px;">소개</p></td>
								<td><textarea class="form-control" rows="3" placeholder="Let me introduce your project"></textarea></td>
							</tr>
							<tr>
								<td style="width:150px;"><p class="text-center" style="margin-bottom:5px; padding-top:10px;">첨부파일</p></td>
								<td>
									<textarea class="form-control" rows="3" style="width:420px; margin-bottom:5px;"></textarea>
									<button class="btn btn-default" >파일 업로드</button>
								</td>
							</tr>
						</tbody>
					</table>
					<ul class="list-inline" style="text-align:center; ">
						<li>
							<button class="btn btn-success" ng-click="clickRegisterMessage()">등록</button>
						</li>
						<li>
							<button class="btn btn-default" ng-click="clickPreviewMessage()">미리보기</button>
						</li>
						<li>
							<button class="btn btn-default" ng-click="clickCancelMessage()">취소</button>
						</li>
					</ul>
				</div>
			</div>
			<div class="container">

			</div>


		</div>
		
		
