<?php
session_start();
?>
	<script language="php">

	   	if(!isset($_SESSION['token'])){
	    	echo "<meta http-equiv='refresh' content='0;url=http://210.118.74.73/index.html'>";
	    	exit;
	    }
	   $token = $_SESSION['token'];
	   $id = $_SESSION['uid'];
	   $realid = $_SESSION['realid'];
	   $username = $_SESSION['username'];
	</script>

   <script type="text/javascript">
      var token = '<?=$token?>';
      var id = '<?=$id?>';
      var realid = '<?=$realid?>';
      var username = '<?=$username?>';
   </script>
   
<!--
	
	PMS 페이지 뷰어
	
-->
		<link href="../css/mainbox.css" rel="stylesheet">
		<link href="../css/workbox.css" rel="stylesheet">
		<link href="../css/main-noticebox.css" rel="stylesheet">
		<link href="../css/transparent-breadcrumb.css" rel="stylesheet">
		<link href="../css/color-font.css" rel="stylesheet">
	
	

		<div class="jumbotron" style="padding-top:30px; padding-bottom:2px; text-align:right; margin:auto;" ng-controller="SignOnController">
			<div class="container" style="width:1100px;">

				<ul>
					<li style="display:inline-block; text-align:center; width:250px">
						<h5>{{UserName}} 님 환영합니다.</h5>
					</li>
					<li style="display:inline-block; text-align:center; width:100px">

						<button type="button" class="btn btn-default" ng-click="logout()" style="padding-left:5px; padding-right:5px; padding-top:5px; padding-bottom:5px;"><span style="font-size:20px;">Logout</span></button>
					</li>
				</ul>
			</div>
		</div>

		<div class="jumbotron" style="padding-top:30px; padding-bottom:2px; text-align:right; margin:auto;" ng-controller="SignOnController">
			<div class="container" style="width:1100px;">

				<ul>
					<li style="display:inline-block; text-align:center; width:250px">
						<h5>{{UserName}} 님 환영합니다.</h5>
					</li>
					<li style="display:inline-block; text-align:center; width:100px">

						<button type="button" class="btn btn-default" ng-click="logout()" style="padding-left:5px; padding-right:5px; padding-top:5px; padding-bottom:5px;"><span style="font-size:20px;">Logout</span></button>
					</li>
				</ul>
			</div>
		</div>

		<div class="mainbox" ng-controller="sigBoardCtrl">
			<div class="container">
				<div class="workbox">
					<!-- BreadCrumb -->
					<ol class="breadcrumb">
						<li><a href="#sig">SIG</a></li>
						<li>{{SigName}}</li>
						
					</ol>
				</div>
			</div>
			
			<div class="container" style="width:1170px;">
					<form class="navbar-search pull-right">
						<span class="glyphicon glyphicon-search"></span>
						<input type="text" class="search-query" placeholder="Search" ng-model = "searchKeyword">
						<button class="btn" style="background-color: ghostwhite;">Search</button>
					</form>
			</div>
			<div class="container" style="width:1170px;">
				<div class="workbox">
					<div class="container" ng-controller="sigMessageListingCtrl">
						<ul >
						<li style="display:inline-block; width:128px; text-align:center; "><h4><b>게시번호</b></h4></l>
						<li style="display:inline-block; width:482px; text-align:center; "><h4><b>게시글</b></h4></li>
						<li style="display:inline-block; width:255px; text-align:center; "><h4><b>작성자</b></h4></li>
						<li style="display:inline-block; width:150px; text-align:center; "><h4><b>작성시간</b></h4></li>
						</ul>
						<hr style="border-color:lightgrey; margin:auto; width:1090px;"/>
						
						<div ng-repeat="boardmessage in boardmessages | filter:searchKeyword" style="margin-top:10px; margin-bottom:10px;">
							<sig-board-messages></sig-board-messages>
						</div>
					
					</div>
					
				</div>
			</div>
			<div class="container" style="width: 1170px;" ng-controller="sigBoardManageCtrl">
				<div class="workbox" >
					<ul class="list-inline" style="text-align:right; padding-right:25px; ">
						<li><button class="btn" style="background-color: ghostwhite;" ng-click="registerMessage()">등록</button></li>
						<li><button class="btn" style="background-color: ghostwhite;" ng-click="editMessage()">수정</button></li>
						<li><button class="btn" style="background-color: ghostwhite;" ng-click="removeMessage()">삭제</button></li>
					</ul>
					<ul class="pager" >
						<li><a href="#">&lt; Prev</a></li>
						<li><input type="text" class="span2" style="width:50px; "> / <input type="text" class="span2" disabled="true" style="width:50px; "></li>
						<li><a href="#">Next &gt;</a></li>
					</ul>
				</div>
			</div>

						
			
		</div>

