<?php
session_start();
?>
<script language="php">
	if(!isset($_SESSION['token'])){
	echo "<script>alert('허가되지 않은 접근입니다.')</script>
";
echo "
<meta http-equiv='refresh' content='0;url=/'>
";
session_destroy();
exit;
}else if(isset($_SESSION['token']) && ($_SESSION['timeout'] + 10 * 60 < time()))
{
echo "
<script>
alert('장시간 응답이 없어 자동으로 로그아웃되었습니다.')
</script>
";
echo "
<meta http-equiv='refresh' content='0;url=/'>
";
session_destroy();
exit;
}
$token = $_SESSION['token'];
$id = $_SESSION['uid'];
$realid = $_SESSION['realid'];
$username = $_SESSION['username'];
$accountgrant = $_SESSION['accountgrant'];

$_SESSION['timeout'] = time();
</script>

<script type="text/javascript">
	var token = '<?=$token?>';
	var id = '<?=$id?>';
	var realid = '<?=$realid?>';
	var username = '<?=$username?>'; 
	var accountgrant = '<?=$accountgrant?>';
	
</script>

<!--

PMS 페이지 뷰어

-->
<link href="../css/mainbox.css" rel="stylesheet">
<link href="../css/workbox.css" rel="stylesheet">
<link href="../css/main-noticebox.css" rel="stylesheet">
<link href="../css/transparent-breadcrumb.css" rel="stylesheet">
<link href="../css/color-font.css" rel="stylesheet">


<div class="mainbox">
	<div class="container">
		<div class="page-header">
			<h1>PX 관리자페이지</h1>
		</div>
		<div class="row" ng-controller='AdminItemController'>
			<div class="panel panel-default">
				<div class="panel-heading">
					물품 등록
				</div>
				<div class="panel-body">

					<form class="form-inline" role="form" ng-submit="submit()">
						<div class="form-group" name="itemForm">
							<label class="sr-only" for="inputItemName">품목명</label>
							<Input type="text" name="input" class="form-control" id="itemnameid" placeholder="품목명" data-ng-model="inputData.itemname" ng-minlength="1" ng-maxlength="6">
						</div>
						<div class="form-group" name="priceForm">
							<label class="sr-only" for="inputPrice">가격</label>
							<Input type="text" class="form-control" id="priceid" placeholder="가격" data-ng-model="inputData.price" ng-minlength="1" ng-maxlength="6" min="10" max="100000">
						</div>
						<div class="form-group" name="remainedForm">
							<label class="sr-only" for="inputRemained">수량</label>
							<Input type="number" class="form-control" id="remainedid" placeholder="수량" data-ng-model="inputData.remained" ng-minlength="1" ng-maxlength="3" min="1" max="999">
						</div>
						<div class="form-group" name="barcodeForm">
							<label class="sr-only" for="inputBarcode">바코드</label>
							<Input type="text" class="form-control" id="barcodeid" placeholder="바코드" data-ng-model="inputData.barcode" ng-minlength="4" ng-maxlength="10">
						</div>
						<button ng-click="addItem()" type="submit" id="submit" class="btn btn-primary">
							등록
						</button>
					</form>

				</div>
			</div>
			<!-- begin : LIST OF ITEMS-->
			<div class="panel panel-default">
				<div class="panel-heading">
					재고 관리
				</div>
				<div class="panel-body">
					<table class="table">
						<thead>
							<tr>
								<th>바코드</th>
								<th>품목명</th>
								<th>수량</th>
								<th>가격</th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="item in items | filter:nameText | orderBy:'name'">
								<td>{{item.barcode}}</td>
								<td><span data-ng-hide="editMode">{{item.itemname}}</span>
								<input type="text" data-ng-show="editMode" id="inItemName" data-ng-model="item.itemname" data-ng-required />
								</td>
								<td><span data-ng-hide="editMode">{{item.remained}}</span>
								<input type="text" data-ng-show="editMode" id="inRemained" data-ng-model="item.remained" data-ng-required />
								</td>
								<td><span data-ng-hide="editMode">{{item.price}}</span>
								<input type="text" data-ng-show="editMode" id="inPrice" data-ng-model="item.price" data-ng-required />
								</td>
								<!-- <td><a data-ng-click="editItem(item)" class="btn btn-small btn-primary">수정</a></td>
								-->

								<td>
								<button type="submit" data-ng-hide="editMode" data-ng-click="editMode = true; editBackup($index, item)" class="btn btn-default">
									수정
								</button>
								<button type="submit" data-ng-show="editMode" data-ng-click="editMode = false; editItem(item)" class="btn btn-default">
									저장
								</button>
								<button type="submit" data-ng-show="editMode" data-ng-click="editMode = false; cancel($index)" class="btn btn-small btn-danger">
									취소
								</button></td>
								<td><a data-ng-click="deleteItem(item)" class="btn btn-small btn-danger">삭제</a></td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>
			<!-- begin : LIST OF PUCHASE ALL LOG-->
			<div class="panel panel-default">
				<div class="panel-heading">
					구매 로그
				</div>
				<div class="panel-body">
					<table class="table" ng-controller="PXLogsController">
						<thead>
							<tr>
								<th>품목명</th>
								<th>구매자</th>
								<th>수량or충전금액</th>
								<th>구매타입</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="plog in pxlogs">
								<td>{{plog.itemname}}</td>
								<td>{{plog.account_id}}</td>
								<td>{{plog.amount}}</td>
								<td ng-if="plog.logtype==3">충전</td>
								<td ng-if="plog.logtype==2">환불</td>
								<td ng-if="plog.logtype==1">구매</td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>
		</div>

	</div>
</div>