<?php
session_start();
?>
<script language="php">
	if(!isset($_SESSION['token'])){
	echo "<script>alert('허가되지 않은 접근입니다.')</script>
";
echo "
<meta http-equiv='refresh' content='0;url=/'>
";
session_destroy();
exit;
}else if(isset($_SESSION['token']) && ($_SESSION['timeout'] + 10 * 60 < time()))
{
echo "
<script>
alert('장시간 응답이 없어 자동으로 로그아웃되었습니다.')
</script>
";
echo "
<meta http-equiv='refresh' content='0;url=/'>
";
session_destroy();
exit;
}
$token = $_SESSION['token'];
$id = $_SESSION['uid'];
$realid = $_SESSION['realid'];
$username = $_SESSION['username'];
$accountgrant = $_SESSION['accountgrant'];

$_SESSION['timeout'] = time();
</script>

<script type="text/javascript">
	var token = '<?=$token?>';
	var id = '<?=$id?>';
	var realid = '<?=$realid?>';
	var username = '<?=$username?>'; 
	var accountgrant = '<?=$accountgrant?>';
	
</script>
<!--

PMS 페이지 뷰어

-->
<link href="../css/mainbox.css" rel="stylesheet">
<link href="../css/workbox.css" rel="stylesheet">
<link href="../css/main-noticebox.css" rel="stylesheet">
<link href="../css/transparent-breadcrumb.css" rel="stylesheet">
<link href="../css/color-font.css" rel="stylesheet">

<link href="../css/bootstrap-select.css" rel="stylesheet">

<div class="mainbox">
	<div class="container" >
		<div class="page-header">
			<h1>PX 물품구매</h1>
		</div>
		<div class="row" ng-controller='PXScanController'>
			<div class="col-lg-3">
				<div class="panel panel-default" ng-controller='PXAmountController'>
					<div class="panel-heading">
						현재 잔액
					</div>
					<div class="panel-body" ng-controller='MyPXLogsController'>
						<form class="form-inline" role="form" ng-submit="submit()">
							<pre>{{remained}}원</pre>
							<div class="form-group" name = "chargeForm">
								<label class="sr-only" for="inputCharge">충전액</label>
								<input type="number" class="form-control" id="inCharge" placeholder="충전액 입력" data-ng-model="inputData.charged" ng-minlength="2" ng-maxlength="6" min="10" max="100000">
							</div>
							<button ng-click="chargePXAmount(); reloadRoute()" type="submit" id="submit" class="btn btn-primary">
								충전
							</button>
						</form>

					</div>
				</div>
				<table class="table table-hover table-bordered">
					<thead>
						<tr>
							<th>공동 결제</th>
						</tr>
					</thead>
					<tbody id="compileArea">
						<tr ng-repeat="p in pxpeople">
							<td>
								<input type="checkbox" value="{{p.username}}" ng-checked="selection.indexOf(p.id) > -1" ng-click="sharePurchase(p.id)" ng-model="p.checked" name="group-one" id="{{p.username}}"/> 
								{{ p.username }}
							</td> 
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-lg-9">
				<div>
					<!-- pass in the variable if our form is valid or invalid -->
					<form name="barcodeForm" ng-submit="addAutoItem(barcodeForm.$valid)" novalidate>

						<!-- NAME -->
						<div class="form-group" ng-class="{ 'has-error' : barcodeForm.barcode.$invalid && !barcodeForm.barcode.$pristine }">
							<label>구입 바코드</label>
							<input type="text" class="form-control" id="inBarcode" placeholder="바코드 스캔" ng-model="inputData.barcode"
							autofocus="" is-focus >
							<p ng-show="barcodeForm.barcode.$invalid && !barcodeForm.barcode.$pristine" class="help-block">
								바코드를 입력해주세요.
							</p>
						</div>

						<button type="submit" class="btn btn-primary" ng-submit="addAutoItem(barcodeForm.$valid)" novalidate>
							Submit
						</button>

					</form>

					<div class="panel panel-default">
						<div class="panel-heading">
							구매 목록
						</div>
						<div class="panel-body">
							<table class="table">
								<thead>
									<tr>
										<th>식품명</th>
										<th>가격</th>
										<th>수량</th>
										<th>삭제</th>
									</tr>
								</thead>
								<tbody>
									<tr data-ng-repeat="item in incart.items">
										<td>{{item.itemname}}</td>
										<td>{{item.price | currency : '\\'}}</td>
										<td>
											<form>
											<input type="number" class="form-control" id="inQuantity" ng-model="item.qty" min="1" max="100">
											</form>
										</td>
										<td><a data-ng-click="deleteItem(item)" class="btn btn-small btn-danger">삭제</a></td>
									</tr>
								</tbody>
								<tfoot>
										<th>합계</th>
										<td>{{getTotal() | currency : '\\'}}</td>
										<td><a data-ng-click="deleteAllItem()" class="btn btn-small btn-default">모두 비우기</a></td>
									</tr>
								</tfoot>
							</table>
						</div>
						<div class="panel-footer">
							<button ng-click="purchaseItem(); reloadRoute()" type="submit" id="submit" class="btn btn-primary">
								구입
							</button>
							<button ng-click="refundItem(); reloadRoute()" type="submit" id="submit" class="btn btn-danger">
								환불
							</button>
						</div>
					</div>
				</div>
				<!-- begin : LIST OF PUCHASE LOG-->
				<div class="panel panel-default">
					<div class="panel-heading">
						나의 구매 로그
					</div>
					<div class="panel-body">
						<table class="table" ng-controller='MyPXLogsController'>
							<thead>
								<tr>
									<th>품목명</th>
									<th>개수or충전금액</th>
									<th>구매자</th>
									<th>일시</th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="plog in mypxlogs">
									<td>{{plog.itemname}}</td>
									<td>{{plog.amount}}</td>
									<td>{{plog.account_id}}</td>
									<td>{{plog.insert_time}}</td>
								</tr>
							</tbody>
						</table>

					</div>
				</div>
			</div>

		</div>

	</div>
</div>