

	<div class="mainContainer" ng-controller="mainCtrl" style="text-align:center;">

		<div class="mainContainer" ng-controller="calendarviewCtrl">
			
			<!-- <div class="workbox"> -->
				<div class="mainContainer">

					<div style="width:857px; margin:auto; ">
					<ul class="list-inline">
						<li><button class="btn btn-success" ng-click="movePrevMonth()"><span class="glyphicon glyphicon-arrow-left"></span></button></li>
						<li>{{Year}} 년 {{Month}} 월</li>
						<li><button class="btn btn-success" ng-click="moveNextMonth()"><span class="glyphicon glyphicon-arrow-right"></span></button></li>
					</ul>

					<calendar-frame></calendar-frame>						
					</div>

				</div>
			<!-- </div> -->
		</div>
	</div>


	<div class="modal fade" id="scheduleConfigModal" ng-controller="calendarScheduleCtrl">
		<div class="modal-dialog" ng-init = "showEvents()">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h3>{{Year}}년 {{Month}}월 {{Day}}일 일정 보기</h3>
				</div>
				<div class="modal-body">
					<table class="table">
						<thead>
							<th style="width:150px; padding-left:15px; text-align:center;">진행 시간</th>
							<th style="width:450px; text-align: center;">일정</th>
						</thead>
						<tbody>
							<!-- <tr ng-repeat="schedule in schedules"> -->
							<tr ng-repeat="schedule in schedules">
								<td colspan="2">
									<ul class="list-inline">
										<li style="width:60px;">{{schedule.start.dateTime.substring(11, 16)}}</li>
										<li style="width:30px;"> ~ </li>
										<li style="width:60px;">{{schedule.end.dateTime.substring(11, 16)}}</li>
										<li style="width:340px; padding-left:20px;" id="schedule{{$index}}" ng-click="openDetails($index)" ng-mouseover="overDetail($index)" ng-mouseleave="leaveDetail($index)">{{schedule.summary}}</li>
									</ul>
									<div class="workbox" ng-show="detailList[$index]">
										<table class="table-hover">
											<tbody>
												<tr>
													<td style="width:120px; text-align:center; ">제목</td>
													<td colspan="3"><input type="text" class="form-control" id="titleEdit{{$index}}"></td>
												</tr>
												<tr>
													<td style="width:120px; text-align:center; ">시작</td>
													<td style="width:130px; text-align:center; ">
														<select class="form-control" id="beginTimeEdit" >
															<option  ng-repeat="time in times">{{time}}</option>
														</select>
													</td>
													<td style="width:120px; text-align:center; ">완료</td>
													<td style="width:130px; text-align:center; ">
														<select class="form-control" id="endTimeEdit" >
															<option ng-repeat="time in times">{{time}}</option>
														</select>
													</td>
												</tr>
												<tr>
													<td style="width:120px; text-align:center; ">장소</td>
													<td colspan="3"><input type="text" class="form-control" id="locationEdit{{$index}}"></td>
												</tr>
												<tr>
													<td style="width:120px; text-align:center; ">설명</td>
													<td colspan="3"><textarea class="form-control" id="descriptionEdit{{$index}}" ></textarea></td>
												</tr>
												<tr>
													<td colspan="2" style="text-align:right; padding-right:10px;"><button class="btn btn-info" ng-click="updateEvent($index)" data-dismiss="modal" style="width:150px;">수정</button></td>
													<td colspan="2" style="text-align:middle; padding-left:20px;"><button class="btn btn-default" ng-click="deleteEvent($index)" data-dismiss="modal" style="width:150px;">삭제</button></td>
												</tr>
											</tbody>
										</table>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					<div class="workbox" style="padding-top:30px;">
							<h4>일정 새로 추가</h4>
					</div>
					<table class="table-condensed" ng-show="addExpand">
						<tbody>
							<tr>
								<td style="width:120px; text-align:center; ">제목</td>
								<td colspan="3"><input type="text" class="form-control" id="titleContext"></td>
							</tr>
							<tr>
								<td style="width:120px; text-align:center; ">시작</td>
								<td style="width:130px; text-align:center; ">
									<select class="form-control" id="beginTime">
										<option  ng-repeat="time in times">{{time}}</option>
									</select>
								</td>
								<td style="width:120px; text-align:center; ">완료</td>
								<td style="width:130px; text-align:center; ">
									<select class="form-control" id="endTime" >
										<option ng-repeat="time in times">{{time}}</option>
									</select>
								</td>
							</tr>
							<tr>
								<td style="width:120px; text-align:center; ">장소</td>
								<td colspan="3"><input type="text" class="form-control" id="locationContext"></td>
							</tr>
							<tr>
								<td style="width:120px; text-align:center; ">설명</td>
								<td colspan="3"><textarea class="form-control" id="descriptionContext" ></textarea></td>
							</tr>
							<tr>
								<td colspan="4" style="text-align:right; padding-right:20px;"><button class="btn btn-success" data-dismiss="modal" ng-click="createEvent()" style="width:150px;">등록</button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	
